openapi: 3.0.0
info:
  version: 3.0.0
  title: Composio Platform Account Management Tools API
  description: Tool execution endpoints
  contact:
    name: Composio Support
    url: https://composio.dev/support
    email: support@composio.dev
  license:
    name: Proprietary
    url: https://composio.dev/terms
servers:
- url: https://backend.composio.dev
  description: PRODUCTION API
tags:
- name: Tools
  description: Tool execution endpoints
paths:
  /api/v3/tools:
    get:
      summary: List available tools
      description: Retrieve a paginated list of available tools with comprehensive filtering, sorting and search capabilities. Use query parameters to narrow down results by toolkit, tags, or search terms.
      tags:
      - Tools
      operationId: getTools
      security:
      - ApiKeyAuth: []
      - UserApiKeyAuth: []
      - CookieAuth: []
      parameters:
      - schema:
          type: string
        required: false
        description: The slug of the toolkit to filter by
        in: query
        name: toolkit_slug
      - schema:
          type: string
        required: false
        description: Comma-separated list of specific tool slugs to retrieve (overrides other filters)
        in: query
        name: tool_slugs
      - schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
        required: false
        description: Comma-separated list of auth config IDs to filter tools by
        in: query
        name: auth_config_ids
      - schema:
          type: string
          enum:
          - 'true'
          - 'false'
        required: false
        description: Filter to only show important/featured tools (set to "true" to enable)
        in: query
        name: important
      - schema:
          type: array
          items:
            type: string
        required: false
        description: Filter tools by one or more tags (can be specified multiple times)
        in: query
        name: tags
      - schema:
          type: array
          nullable: true
          items:
            type: string
          description: Filter tools by one or more scopes (can be specified multiple times)
        required: false
        description: Array of scopes to filter tools by)
        name: scopes
        in: query
      - schema:
          type: string
        required: false
        description: Full-text search query to filter tools by name, slug, or description. Applied as a soft filter on top of other filters.
        in: query
        name: query
      - schema:
          type: string
        required: false
        description: 'Deprecated: use "query" instead. Free-text search query to find tools by name, description, or functionality.'
        in: query
        name: search
        deprecated: true
      - schema:
          type: boolean
          default: true
        required: false
        description: Include deprecated tools in the response
        in: query
        name: include_deprecated
      - schema:
          oneOf:
          - type: 'null'
          - type: string
          - type: object
            additionalProperties:
              type: string
            description: Object representation of parsed bracket notation
        required: false
        description: Toolkit version specification. Use "latest" for latest versions or bracket notation for specific versions per toolkit.
        in: query
        name: toolkit_versions
        examples:
          latest_version:
            summary: Latest version for all toolkits
            value: latest
          bracket_notation:
            summary: Specific versions using bracket notation
            value: 'Use: toolkit_versions[gmail]=20250930_00&toolkit_versions[slack]=20250929_00'
          null_value:
            summary: No version specified (uses 00000000_00)
            value: null
      - schema:
          type: number
          nullable: true
        required: false
        description: Number of items per page, max allowed is 1000
        name: limit
        in: query
      - schema:
          type: string
        required: false
        description: Cursor for pagination. The cursor is a base64 encoded string of the page and limit. The page is the page number and the limit is the number of items per page. The cursor is used to paginate through the items. The cursor is not required for the first page.
        name: cursor
        in: query
      responses:
        '200':
          description: Successfully retrieved tools list with pagination information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolsPaginated'
        '400':
          description: Bad request - Invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - Authentication credentials are missing or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - User does not have permission to access tools
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found - The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error - Something went wrong on the server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v3/tools/enum:
    get:
      summary: Get tool enum list
      description: Retrieve a list of all available tool enumeration values (tool slugs) from latest version of each toolkit. This endpoint returns a comma-separated string of tool slugs that can be used in other API calls.
      tags:
      - Tools
      operationId: getToolsEnum
      security:
      - ApiKeyAuth: []
      - UserApiKeyAuth: []
      - CookieAuth: []
      responses:
        '200':
          description: Successfully retrieved tool enum list
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                description: JSON string containing all tool enum values from latest version of each toolkit
        '400':
          description: Bad request - Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - Authentication credentials are missing or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - User does not have permission to access tool enums
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found - Tool enum list not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error - Something went wrong on the server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v3/tools/{tool_slug}:
    get:
      summary: Get tool by slug
      description: Retrieve detailed information about a specific tool using its slug identifier. This endpoint returns full metadata about a tool including input/output parameters, versions, and toolkit information.
      tags:
      - Tools
      operationId: getToolsByToolSlug
      security:
      - ApiKeyAuth: []
      - UserApiKeyAuth: []
      - CookieAuth: []
      parameters:
      - schema:
          type: string
        required: true
        description: The unique slug identifier of the tool
        name: tool_slug
        in: path
      - schema:
          type: string
        required: false
        description: Optional version of the tool to retrieve
        name: version
        in: query
      - schema:
          oneOf:
          - type: 'null'
          - type: string
          - type: object
            additionalProperties:
              type: string
            description: Object representation of parsed bracket notation
        required: false
        description: Toolkit version specification. Use "latest" for latest versions or bracket notation for specific versions per toolkit.
        in: query
        name: toolkit_versions
        examples:
          latest_version:
            summary: Latest version for all toolkits
            value: latest
          bracket_notation:
            summary: Specific versions using bracket notation
            value: 'Use: toolkit_versions[gmail]=20250930_00&toolkit_versions[slack]=20250929_00'
          null_value:
            summary: No version specified (uses 00000000_00)
            value: null
      responses:
        '200':
          description: Successfully retrieved tool details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tool'
        '400':
          description: Bad request - Invalid tool slug format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - Authentication credentials are missing or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found - Tool with the specified slug does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error - Something went wrong on the server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v3/tools/execute/{tool_slug}:
    post:
      summary: Execute tool
      description: Execute a specific tool operation with provided arguments and authentication. This is the primary endpoint for integrating with third-party services and executing tools. You can provide structured arguments or use natural language processing by providing a text description of what you want to accomplish.
      tags:
      - Tools
      operationId: postToolsExecuteByToolSlug
      security:
      - ApiKeyAuth: []
      - UserApiKeyAuth: []
      - CookieAuth: []
      parameters:
      - schema:
          type: string
        required: true
        description: The tool slug to execute
        name: tool_slug
        in: path
      - schema:
          type: string
          description: JSON object containing custom headers to pass to LLM providers (OpenAI, Bedrock, etc.)
          example: '{"x-custom-header": "value", "authorization": "Bearer token"}'
        required: false
        name: x-llm-gateway-headers
        in: header
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                connected_account_id:
                  type: string
                  description: Unique identifier for the connected account to use for authentication
                  example: ca_1a2b3c4d5e6f
                entity_id:
                  type: string
                  description: 'Deprecated: please use user_id instead. Entity identifier for multi-entity connected accounts (e.g. multiple repositories, organizations)'
                  example: repo-123
                  deprecated: true
                user_id:
                  type: string
                  description: User id for multi-user connected accounts (e.g. multiple users, organizations)
                  example: user-123
                version:
                  type: string
                  description: Tool version to execute (defaults to "00000000_00" if not specified)
                  example: latest
                custom_auth_params:
                  type: object
                  properties:
                    base_url:
                      type: string
                      description: The base URL (root address) what you should use while making http requests to the connected account. For example, for gmail, it would be 'https://gmail.googleapis.com'
                    parameters:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            description: The name of the parameter. For example, 'x-api-key', 'Content-Type', etc.
                          in:
                            type: string
                            enum:
                            - query
                            - header
                            description: The location of the parameter. Can be 'query' or 'header'.
                          value:
                            anyOf:
                            - type: string
                            - type: number
                            description: The value of the parameter. For example, '1234567890', 'application/json', etc.
                        required:
                        - name
                        - in
                        - value
                    body:
                      type: object
                      additionalProperties:
                        nullable: true
                      description: 'The body to be sent to the endpoint for authentication. This is a JSON object. Note: This is very rarely needed and is only required by very few apps.'
                  description: Custom authentication parameters for tools that support parameterized authentication
                  example:
                    base_url: https://api.example.com
                    parameters:
                    - name: x-api-key
                      value: secret-key
                      in: header
                custom_connection_data:
                  oneOf:
                  - type: object
                    properties:
                      authScheme:
                        type: string
                        enum:
                        - OAUTH2
                      toolkitSlug:
                        type: string
                      val:
                        type: object
                        properties:
                          subdomain:
                            type: string
                          your-domain:
                            type: string
                          region:
                            type: string
                          shop:
                            type: string
                          account_url:
                            type: string
                          COMPANYDOMAIN:
                            type: string
                          extension:
                            type: string
                          form_api_base_url:
                            type: string
                          instanceEndpoint:
                            type: string
                          api_url:
                            type: string
                          borneo_dashboard_url:
                            type: string
                          proxy_username:
                            type: string
                          proxy_password:
                            type: string
                          domain:
                            type: string
                          version:
                            type: string
                          dc:
                            type: string
                          site_name:
                            type: string
                          instanceName:
                            type: string
                          account_id:
                            type: string
                          your_server:
                            type: string
                          server_location:
                            type: string
                          base_url:
                            type: string
                          state_prefix:
                            type: string
                            maxLength: 40
                            description: The oauth2 state prefix for the connection
                          long_redirect_url:
                            type: boolean
                            description: Whether to return the redirect url without shortening
                          access_token:
                            type: string
                          id_token:
                            type: string
                          token_type:
                            type: string
                          refresh_token:
                            type: string
                            nullable: true
                          expires_in:
                            anyOf:
                            - type: number
                            - type: string
                            - nullable: true
                          scope:
                            anyOf:
                            - type: string
                            - type: array
                              items:
                                type: string
                            - nullable: true
                          webhook_signature:
                            type: string
                          authed_user:
                            type: object
                            properties:
                              access_token:
                                type: string
                              scope:
                                type: string
                            description: for slack user scopes
                          extra_token_data:
                            type: object
                            additionalProperties:
                              nullable: true
                        required:
                        - access_token
                        additionalProperties:
                          nullable: true
                    required:
                    - authScheme
                    - toolkitSlug
                    - val
                  - type: object
                    properties:
                      authScheme:
                        type: string
                        enum:
                        - DCR_OAUTH
                      toolkitSlug:
                        type: string
                      val:
                        type: object
                        properties:
                          subdomain:
                            type: string
                          your-domain:
                            type: string
                          region:
                            type: string
                          shop:
                            type: string
                          account_url:
                            type: string
                          COMPANYDOMAIN:
                            type: string
                          extension:
                            type: string
                          form_api_base_url:
                            type: string
                          instanceEndpoint:
                            type: string
                          api_url:
                            type: string
                          borneo_dashboard_url:
                            type: string
                          proxy_username:
                            type: string
                          proxy_password:
                            type: string
                          domain:
                            type: string
                          version:
                            type: string
                          dc:
                            type: string
                          site_name:
                            type: string
                          instanceName:
                            type: string
                          account_id:
                            type: string
                          your_server:
                            type: string
                          server_location:
                            type: string
                          base_url:
                            type: string
                          state_prefix:
                            type: string
                            maxLength: 40
                            description: The oauth2 state prefix for the connection
                          long_redirect_url:
                            type: boolean
                            description: Whether to return the redirect url without shortening
                          client_id:
                            type: string
                            description: Dynamically registered client ID
                          client_secret:
                            type: string
                            description: Dynamically registered client secret
                          access_token:
                            type: string
                          id_token:
                            type: string
                          token_type:
                            type: string
                          refresh_token:
                            type: string
                            nullable: true
                          expires_in:
                            anyOf:
                            - type: number
                            - type: string
                            - nullable: true
                          scope:
                            anyOf:
                            - type: string
                            - type: array
                              items:
                                type: string
                            - nullable: true
                          client_id_issued_at:
                            type: number
                          client_secret_expires_at:
                            type: number
                        required:
                        - client_id
                        - access_token
                        additionalProperties:
                          nullable: true
                    required:
                    - authScheme
                    - toolkitSlug
                    - val
                  - type: object
                    properties:
                      authScheme:
                        type: string
                        enum:
                        - API_KEY
                      toolkitSlug:
                        type: string
                      val:
                        type: object
                        properties:
                          subdomain:
                            type: string
                          your-domain:
                            type: string
                          region:
                            type: string
                          shop:
                            type: string
                          account_url:
                            type: string
                          COMPANYDOMAIN:
                            type: string
                          extension:
                            type: string
                          form_api_base_url:
                            type: string
                          instanceEndpoint:
                            type: string
                          api_url:
                            type: string
                          borneo_dashboard_url:
                            type: string
                          proxy_username:
                            type: string
                          proxy_password:
                            type: string
                          domain:
                            type: string
                          version:
                            type: string
                          dc:
                            type: string
                          site_name:
                            type: string
                          instanceName:
                            type: string
                          account_id:
                            type: string
                          your_server:
                            type: string
                          server_location:
                            type: string
                          base_url:
                            type: string
                          generic_api_key:
                            type: string
                          api_key:
                            type: string
                          bearer_token:
                            type: string
                          basic_encoded:
                            type: string
                        additionalProperties:
                          nullable: true
                    required:
                    - authScheme
                    - toolkitSlug
                    - val
                  - type: object
                    properties:
                      authScheme:
                        type: string
                        enum:
                        - BASIC_WITH_JWT
                      toolkitSlug:
                        type: string
                      val:
                        type: object
                        properties:
                          subdomain:
                            type: string
                          your-domain:
                            type: string
                          region:
                            type: string
                          shop:
                            type: string
                          account_url:
                            type: string
                          COMPANYDOMAIN:
                            type: string
                          extension:
                            type: string
                          form_api_base_url:
                            type: string
                          instanceEndpoint:
                            type: string
                          api_url:
                            type: string
                          borneo_dashboard_url:
                            type: string
                          proxy_username:
                            type: string
                          proxy_password:
                            type: string
                          domain:
                            type: string
                          version:
                            type: string
                          dc:
                            type: string
                          site_name:
                            type: string
                          instanceName:
                            type: string
                          account_id:
                            type: string
                          your_server:
                            type: string
                          server_location:
                            type: string
                          base_url:
                            type: string
                          username:
                            type: string
                          password:
                            type: string
                        required:
                        - username
                        - password
                        additionalProperties:
                          nullable: true
                    required:
                    - authScheme
                    - toolkitSlug
                    - val
                  - type: object
                    properties:
                      authScheme:
                        type: string
                        enum:
                        - BASIC
                      toolkitSlug:
                        type: string
                      val:
                        type: object
                        properties:
                          subdomain:
                            type: string
                          your-domain:
                            type: string
                          region:
                            type: string
                          shop:
                            type: string
                          account_url:
                            type: string
                          COMPANYDOMAIN:
                            type: string
                          extension:
                            type: string
                          form_api_base_url:
                            type: string
                          instanceEndpoint:
                            type: string
                          api_url:
                            type: string
                          borneo_dashboard_url:
                            type: string
                          proxy_username:
                            type: string
                          proxy_password:
                            type: string
                          domain:
                            type: string
                          version:
                            type: string
                          dc:
                            type: string
                          site_name:
                            type: string
                          instanceName:
                            type: string
                          account_id:
                            type: string
                          your_server:
                            type: string
                          server_location:
                            type: string
                          base_url:
                            type: string
                          username:
                            type: string
                          password:
                            type: string
                        required:
                        - username
                        additionalProperties:
                          nullable: true
                    required:
                    - authScheme
                    - toolkitSlug
                    - val
                  - type: object
                    properties:
                      authScheme:
                        type: string
                        enum:
                        - BEARER_TOKEN
                      toolkitSlug:
                        type: string
                      val:
                        type: object
                        properties:
                          subdomain:
                            type: string
                          your-domain:
                            type: string
                          region:
                            type: string
                          shop:
                            type: string
                          account_url:
                            type: string
                          COMPANYDOMAIN:
                            type: string
                          extension:
                            type: string
                          form_api_base_url:
                            type: string
                          instanceEndpoint:
                            type: string
                          api_url:
                            type: string
                          borneo_dashboard_url:
                            type: string
                          proxy_username:
                            type: string
                          proxy_password:
                            type: string
                          domain:
                            type: string
                          version:
                            type: string
                          dc:
                            type: string
                          site_name:
                            type: string
                          instanceName:
                            type: string
                          account_id:
                            type: string
                          your_server:
                            type: string
                          server_location:
                            type: string
                          base_url:
                            type: string
                          token:
                            type: string
                        required:
                        - token
                        additionalProperties:
                          nullable: true
                    required:
                    - authScheme
                    - toolkitSlug
                    - val
                  - type: object
                    properties:
                      authScheme:
                        type: string
                        enum:
                        - OAUTH1
                      toolkitSlug:
                        type: string
                      val:
                        type: object
                        properties:
                          subdomain:
                            type: string
                          your-domain:
                            type: string
                          region:
                            type: string
                          shop:
                            type: string
                          account_url:
                            type: string
                          COMPANYDOMAIN:
                            type: string
                          extension:
                            type: string
                          form_api_base_url:
                            type: string
                          instanceEndpoint:
                            type: string
                          api_url:
                            type: string
                          borneo_dashboard_url:
                            type: string
                          proxy_username:
                            type: string
                          proxy_password:
                            type: string
                          domain:
                            type: string
                          version:
                            type: string
                          dc:
                            type: string
                          site_name:
                            type: string
                          instanceName:
                            type: string
                          account_id:
                            type: string
                          your_server:
                            type: string
                          server_location:
                            type: string
                          base_url:
                            type: string
                          oauth_token:
                            type: string
                          oauth_token_secret:
                            type: string
                          oauth_verifier:
                            type: string
                          consumer_key:
                            type: string
                          redirectUrl:
                            type: string
                          callback_url:
                            type: string
                        required:
                        - oauth_token
                        - oauth_token_secret
                        additionalProperties:
                          nullable: true
                    required:
                    - authScheme
                    - toolkitSlug
                    - val
                  - type: object
                    properties:
                      authScheme:
                        type: string
                        enum:
                        - NO_AUTH
                      toolkitSlug:
                        type: string
                      val:
                        type: object
                        properties:
                          subdomain:
                            type: string
                          your-domain:
                            type: string
                          region:
                            type: string
                          shop:
                            type: string
                          account_url:
                            type: string
                          COMPANYDOMAIN:
                            type: string
                          extension:
                            type: string
                          form_api_base_url:
                            type: string
                          instanceEndpoint:
                            type: string
                          api_url:
                            type: string
                          borneo_dashboard_url:
                            type: string
                          proxy_username:
                            type: string
                          proxy_password:
                            type: string
                          domain:
                            type: string
                          version:
                            type: string
                          dc:
                            type: string
                          site_name:
                            type: string
                          instanceName:
                            type: string
                          account_id:
                            type: string
                          your_server:
                            type: string
                          server_location:
                            type: string
                          base_url:
                            type: string
                        additionalProperties:
                          nullable: true
                    required:
                    - authScheme
                    - toolkitSlug
                    - val
                  - type: object
                    properties:
                      authScheme:
                        type: string
                        enum:
                        - SERVICE_ACCOUNT
                      toolkitSlug:
                        type: string
                      val:
                        type: object
                        properties:
                          subdomain:
                            type: string
                          your-domain:
                            type: string
                          region:
                            type: string
                          shop:
                            type: string
                          account_url:
                            type: string
                          COMPANYDOMAIN:
                            type: string
                          extension:
                            type: string
                          form_api_base_url:
                            type: string
                          instanceEndpoint:
                            type: string
                          api_url:
                            type: string
                          borneo_dashboard_url:
                            type: string
                          proxy_username:
                            type: string
                          proxy_password:
                            type: string
                          domain:
                            type: string
                          version:
                            type: string
                          dc:
                            type: string
                          site_name:
                            type: string
                          instanceName:
                            type: string
                          account_id:
                            type: string
                          your_server:
                            type: string
                          server_location:
                            type: string
                          base_url:
                            type: string
                          application_id:
                            type: string
                          installation_id:
                            type: string
                          private_key:
                            type: string
                        required:
                        - application_id
                        - installation_id
                        - private_key
                        additionalProperties:
                          nullable: true
                    required:
                    - authScheme
                    - toolkitSlug
                    - val
                  - type: object
                    properties:
                      authScheme:
                        type: string
                        enum:
                        - GOOGLE_SERVICE_ACCOUNT
                      toolkitSlug:
                        type: string
                      val:
                        type: object
                        properties:
                          subdomain:
                            type: string
                          your-domain:
                            type: string
                          region:
                            type: string
                          shop:
                            type: string
                          account_url:
                            type: string
                          COMPANYDOMAIN:
                            type: string
                          extension:
                            type: string
                          form_api_base_url:
                            type: string
                          instanceEndpoint:
                            type: string
                          api_url:
                            type: string
                          borneo_dashboard_url:
                            type: string
                          proxy_username:
                            type: string
                          proxy_password:
                            type: string
                          domain:
                            type: string
                          version:
                            type: string
                          dc:
                            type: string
                          site_name:
                            type: string
                          instanceName:
                            type: string
                          account_id:
                            type: string
                          your_server:
                            type: string
                          server_location:
                            type: string
                          base_url:
                            type: string
                          credentials_json:
                            type: string
                        required:
                        - credentials_json
                        additionalProperties:
                          nullable: true
                    required:
                    - authScheme
                    - toolkitSlug
                    - val
                  - type: object
                    properties:
                      authScheme:
                        type: string
                        enum:
                        - S2S_OAUTH2
                      toolkitSlug:
                        type: string
                      val:
                        type: object
                        properties:
                          subdomain:
                            type: string
                          your-domain:
                            type: string
                          region:
                            type: string
                          shop:
                            type: string
                          account_url:
                            type: string
                          COMPANYDOMAIN:
                            type: string
                          extension:
                            type: string
                          form_api_base_url:
                            type: string
                          instanceEndpoint:
                            type: string
                          api_url:
                            type: string
                          borneo_dashboard_url:
                            type: string
                          proxy_username:
                            type: string
                          proxy_password:
                            type: string
                          domain:
                            type: string
                          version:
                            type: string
                          dc:
                            type: string
                          site_name:
                            type: string
                          instanceName:
                            type: string
                          account_id:
                            type: string
                          your_server:
                            type: string
                          server_location:
                            type: string
                          base_url:
                            type: string
                          access_token:
                            type: string
                          token_type:
                            type: string
                          client_id:
                            type: string
                          client_secret:
                            type: string
                          expires_in:
                            anyOf:
                            - type: number
                            - type: string
                            - nullable: true
                          expires_at:
                            type: string
                          scope:
                            anyOf:
                            - type: string
                            - type: array
                              items:
                                type: string
                            - nullable: true
                        required:
                        - access_token
                        - client_id
                        - client_secret
                        additionalProperties:
                          nullable: true
                    required:
                    - authScheme
                    - toolkitSlug
                    - val
                  description: Custom connection data for tools that support custom connection data
                  example:
                    authScheme: OAUTH2
                    toolkitSlug: github
                    val:
                      access_token: secret-token
                arguments:
                  type: object
                  additionalProperties:
                    nullable: true
                  description: Key-value pairs of arguments required by the tool (mutually exclusive with text)
                  example:
                    repository: octocat/Hello-World
                    workflow_id: main.yml
                    ref: main
                    inputs:
                      environment: production
                text:
                  type: string
                  description: Natural language description of the task to perform (mutually exclusive with arguments)
                  example: Trigger the main workflow in the octocat/Hello-World repository on the main branch for the production environment
                allow_tracing:
                  type: boolean
                  nullable: true
                  description: Deprecated. Enable debug tracing for tool execution (useful for debugging)
                  deprecated: true
                  example: false
      responses:
        '200':
          description: Successfully executed action and received response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties:
                      nullable: true
                    description: Tool execution output data that varies based on the specific tool
                    example:
                      run_id: 12345678
                      status: queued
                      created_at: '2023-01-01T12:00:00Z'
                      html_url: https://github.com/octocat/Hello-World/actions/runs/12345678
                  error:
                    type: string
                    nullable: true
                    description: Error message if the tool execution was not successful (null if successful)
                  successful:
                    type: boolean
                    description: Indicates if the tool execution was successful
                    example: true
                  session_info:
                    nullable: true
                    description: Optional session information for tools that return session context
                    example:
                      session_id: session-12345
                      expires_at: '2023-01-01T13:00:00Z'
                  log_id:
                    type: string
                    description: Unique identifier for the execution log (useful for debugging and support)
                    example: log_abc123def456
                required:
                - data
                - error
                - successful
        '400':
          description: Bad request - Invalid request parameters, missing required arguments, or conflicting parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - Authentication credentials are missing or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - Connected account does not have permission to execute this tool or access the requested resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found - Tool or connected account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '408':
          description: Request timeout - Tool execution exceeded the maximum allowed time
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '410':
          description: Gone - Tool has been deprecated and is no longer available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '413':
          description: Payload too large - Request or response payload exceeds size limits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable entity - Invalid state of the connected account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded - Too many requests to the tool or underlying API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error - Something went wrong on the server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '502':
          description: Bad gateway - Error communicating with the tool provider API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Upstream service unavailable - Tool provider API is currently down or unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v3/tools/execute/{tool_slug}/input:
    post:
      summary: Generate tool inputs from natural language
      description: Uses AI to translate a natural language description into structured arguments for a specific tool. This endpoint is useful when you want to let users describe what they want to do in plain language instead of providing structured parameters.
      tags:
      - Tools
      operationId: postToolsExecuteByToolSlugInput
      security:
      - ApiKeyAuth: []
      - UserApiKeyAuth: []
      - CookieAuth: []
      parameters:
      - schema:
          type: string
        required: true
        description: The tool slug to generate inputs for
        name: tool_slug
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: Natural language description of what you want to accomplish with this tool
                  example: I need to trigger the main workflow in the octocat/Hello-World repository to deploy to production
                custom_description:
                  type: string
                  description: Custom description of the tool to help guide the LLM in generating more accurate inputs
                  example: This tool triggers GitHub Actions workflows in a repository. It requires the repository name, workflow ID, and optional input parameters.
                system_prompt:
                  type: string
                  description: System prompt to control and guide the behavior of the LLM when generating inputs
                  example: You are an expert assistant that generates precise GitHub Actions workflow parameters. Extract exact repository names, workflow IDs, and input values from user descriptions.
                version:
                  type: string
                  description: Tool version to use when generating inputs (defaults to "latest" if not specified)
                  example: latest
              required:
              - text
      responses:
        '200':
          description: Successfully generated structured inputs for the action based on natural language description
          content:
            application/json:
              schema:
                type: object
                properties:
                  arguments:
                    type: object
                    additionalProperties:
                      nullable: true
                    description: Key-value pairs of arguments required by the tool to accomplish the described task
                    example:
                      repository: octocat/Hello-World
                      workflow_id: main.yml
                      ref: main
                      inputs:
                        environment: production
                  error:
                    type: string
                    description: Error message if the arguments could not be generated (null if successful)
                    example: Unable to determine the repository name from the provided description
        '400':
          description: Bad request - Invalid input parameters or insufficient description to generate tool arguments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - Authentication credentials are missing or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found - The specified tool does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable entity - Invalid state of the connected account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - Rate limit exceeded for natural language processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error - AI processing failed or other server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v3/tools/execute/proxy:
    post:
      summary: Execute proxy request
      description: Proxy an HTTP request to a third-party API using connected account credentials. This endpoint allows making authenticated API calls to external services while abstracting away authentication details.
      tags:
      - Tools
      operationId: postToolsExecuteProxy
      security:
      - ApiKeyAuth: []
      - UserApiKeyAuth: []
      - CookieAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                connected_account_id:
                  type: string
                  format: connectedAccountId
                  description: The ID of the connected account to use for authentication (if not provided, will use the default account for the project)
                  example: ca_1a2b3c4d5e6f
                endpoint:
                  type: string
                  description: The API endpoint to call (absolute URL or path relative to base URL of the connected account)
                  example: /api/v1/resources
                method:
                  type: string
                  enum:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                  - PATCH
                  - HEAD
                  description: The HTTP method to use for the request
                  example: GET
                body:
                  nullable: true
                  description: The request body (for POST, PUT, and PATCH requests)
                  example:
                    name: New Resource
                    description: This is a new resource
                binary_body:
                  anyOf:
                  - type: object
                    properties:
                      url:
                        type: string
                        format: uri
                        description: URL to fetch binary content from
                      content_type:
                        type: string
                        description: Content-Type header to use for the request
                    required:
                    - url
                  - type: object
                    properties:
                      base64:
                        type: string
                        minLength: 1
                        description: Base64-encoded binary data
                      content_type:
                        type: string
                        description: Content-Type header to use for the request
                    required:
                    - base64
                  description: 'Binary body to send. For binary upload via URL: use {url: "https://...", content_type?: "..."}. For binary upload via base64: use {base64: "...", content_type?: "..."}.'
                parameters:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: Parameter name
                        example: x-api-key
                      value:
                        type: string
                        description: Parameter value
                        example: abc123def456
                      type:
                        type: string
                        enum:
                        - header
                        - query
                        description: Parameter type (header or query)
                        example: header
                    required:
                    - name
                    - value
                    - type
                  description: Additional HTTP headers or query parameters to include in the request
                  example:
                  - name: x-api-key
                    value: abc123def456
                    type: header
                  - name: filter
                    value: active
                    type: query
                custom_connection_data:
                  oneOf:
                  - type: object
                    properties:
                      authScheme:
                        type: string
                        enum:
                        - OAUTH2
                      toolkitSlug:
                        type: string
                      val:
                        type: object
                        properties:
                          subdomain:
                            type: string
                          your-domain:
                            type: string
                          region:
                            type: string
                          shop:
                            type: string
                          account_url:
                            type: string
                          COMPANYDOMAIN:
                            type: string
                          extension:
                            type: string
                          form_api_base_url:
                            type: string
                          instanceEndpoint:
                            type: string
                          api_url:
                            type: string
                          borneo_dashboard_url:
                            type: string
                          proxy_username:
                            type: string
                          proxy_password:
                            type: string
                          domain:
                            type: string
                          version:
                            type: string
                          dc:
                            type: string
                          site_name:
                            type: string
                          instanceName:
                            type: string
                          account_id:
                            type: string
                          your_server:
                            type: string
                          server_location:
                            type: string
                          base_url:
                            type: string
                          state_prefix:
                            type: string
                            maxLength: 40
                            description: The oauth2 state prefix for the connection
                          long_redirect_url:
                            type: boolean
                            description: Whether to return the redirect url without shortening
                          access_token:
                            type: string
                          id_token:
                            type: string
                          token_type:
                            type: string
                          refresh_token:
                            type: string
                            nullable: true
                          expires_in:
                            anyOf:
                            - type: number
                            - type: string
                            - nullable: true
                          scope:
                            anyOf:
                            - type: string
                            - type: array
                              items:
                                type: string
                            - nullable: true
                          webhook_signature:
                            type: string
                          authed_user:
                            type: object
                            properties:
                              access_token:
                                type: string
                              scope:
                                type: string
                            description: for slack user scopes
                          extra_token_data:
                            type: object
                            additionalProperties:
                              nullable: true
                        required:
                        - access_token
                        additionalProperties:
                          nullable: true
                    required:
                    - authScheme
                    - toolkitSlug
                    - val
                  - type: object
                    properties:
                      authScheme:
                        type: string
                        enum:
                        - DCR_OAUTH
                      toolkitSlug:
                        type: string
                      val:
                        type: object
                        properties:
                          subdomain:
                            type: string
                          your-domain:
                            type: string
                          region:
                            type: string
                          shop:
                            type: string
                          account_url:
                            type: string
                          COMPANYDOMAIN:
                            type: string
                          extension:
                            type: string
                          form_api_base_url:
                            type: string
                          instanceEndpoint:
                            type: string
                          api_url:
                            type: string
                          borneo_dashboard_url:
                            type: string
                          proxy_username:
                            type: string
                          proxy_password:
                            type: string
                          domain:
                            type: string
                          version:
                            type: string
                          dc:
                            type: string
                          site_name:
                            type: string
                          instanceName:
                            type: string
                          account_id:
                            type: string
                          your_server:
                            type: string
                          server_location:
                            type: string
                          base_url:
                            type: string
                          state_prefix:
                            type: string
                            maxLength: 40
                            description: The oauth2 state prefix for the connection
                          long_redirect_url:
                            type: boolean
                            description: Whether to return the redirect url without shortening
                          client_id:
                            type: string
                            description: Dynamically registered client ID
                          client_secret:
                            type: string
                            description: Dynamically registered client secret
                          access_token:
                            type: string
                          id_token:
                            type: string
                          token_type:
                            type: string
                          refresh_token:
                            type: string
                            nullable: true
                          expires_in:
                            anyOf:
                            - type: number
                            - type: string
                            - nullable: true
                          scope:
                            anyOf:
                            - type: string
                            - type: array
                              items:
                                type: string
                            - nullable: true
                          client_id_issued_at:
                            type: number
                          client_secret_expires_at:
                            type: number
                        required:
                        - client_id
                        - access_token
                        additionalProperties:
                          nullable: true
                    required:
                    - authScheme
                    - toolkitSlug
                    - val
                  - type: object
                    properties:
                      authScheme:
                        type: string
                        enum:
                        - API_KEY
                      toolkitSlug:
                        type: string
                      val:
                        type: object
                        properties:
                          subdomain:
                            type: string
                          your-domain:
                            type: string
                          region:
                            type: string
                          shop:
                            type: string
                          account_url:
                            type: string
                          COMPANYDOMAIN:
                            type: string
                          extension:
                            type: string
                          form_api_base_url:
                            type: string
                          instanceEndpoint:
                            type: string
                          api_url:
                            type: string
                          borneo_dashboard_url:
                            type: string
                          proxy_username:
                            type: string
                          proxy_password:
                            type: string
                          domain:
                            type: string
                          version:
                            type: string
                          dc:
                            type: string
                          site_name:
                            type: string
                          instanceName:
                            type: string
                          account_id:
                            type: string
                          your_server:
                            type: string
                          server_location:
                            type: string
                          base_url:
                            type: string
                          generic_api_key:
                            type: string
                          api_key:
                            type: string
                          bearer_token:
                            type: string
                          basic_encoded:
                            type: string
                        additionalProperties:
                          nullable: true
                    required:
                    - authScheme
                    - toolkitSlug
                    - val
                  - type: object
                    properties:
                      authScheme:
                        type: string
                        enum:
                        - BASIC_WITH_JWT
                      toolkitSlug:
                        type: string
                      val:
                        type: object
                        properties:
                          subdomain:
                            type: string
                          your-domain:
                            type: string
                          region:
                            type: string
                          shop:
                            type: string
                          account_url:
                            type: string
                          COMPANYDOMAIN:
                            type: string
                          extension:
                            type: string
                          form_api_base_url:
                            type: string
                          instanceEndpoint:
                            type: string
                          api_url:
                            type: string
                          borneo_dashboard_url:
                            type: string
                          proxy_username:
                            type: string
                          proxy_password:
                            type: string
                          domain:
                            type: string
                          version:
                            type: string
                          dc:
                            type: string
                          site_name:
                            type: string
                          instanceName:
                            type: string
                          account_id:
                            type: string
                          your_server:
                            type: string
                          server_location:
                            type: string
                          base_url:
                            type: string
                          username:
                            type: string
                          password:
                            type: string
                        required:
                        - username
                        - password
                        additionalProperties:
                          nullable: true
                    required:
                    - authScheme
                    - toolkitSlug
                    - val
                  - type: object
                    properties:
                      authScheme:
                        type: string
                        enum:
                        - BASIC
                      toolkitSlug:
                        type: string
                      val:
                        type: object
                        properties:
                          subdomain:
                            type: string
                          your-domain:
                            type: string
                          region:
                            type: string
                          shop:
                            type: string
                          account_url:
                            type: string
                          COMPANYDOMAIN:
                            type: string
                          extension:
                            type: string
                          form_api_base_url:
                            type: string
                          instanceEndpoint:
                            type: string
                          api_url:
                            type: string
                          borneo_dashboard_url:
                            type: string
                          proxy_username:
                            type: string
                          proxy_password:
                            type: string
                          domain:
                            type: string
                          version:
                            type: string
                          dc:
                            type: string
                          site_name:
                            type: string
                          instanceName:
                            type: string
                          account_id:
                            type: string
                          your_server:
                            type: string
                          server_location:
                            type: string
                          base_url:
                            type: string
                          username:
                            type: string
                          password:
                            type: string
                        required:
                        - username
                        additionalProperties:
                          nullable: true
                    required:
                    - authScheme
                    - toolkitSlug
                    - val
                  - type: object
                    properties:
                      authScheme:
                        type: string
                        enum:
                        - BEARER_TOKEN
                      toolkitSlug:
                        type: string
                      val:
                        type: object
                        properties:
                          subdomain:
                            type: string
                          your-domain:
                            type: string
                          region:
                            type: string
                          shop:
                            type: string
                          account_url:
                            type: string
                          COMPANYDOMAIN:
                            type: string
                          extension:
                            type: string
                          form_api_base_url:
                            type: string
                          instanceEndpoint:
                            type: string
                          api_url:
                            type: string
                          borneo_dashboard_url:
                            type: string
                          proxy_username:
                            type: string
                          proxy_password:
                            type: string
                          domain:
                            type: string
                          version:
                            type: string
                          dc:
                            type: string
                          site_name:
                            type: string
                          instanceName:
                            type: string
                          account_id:
                            type: string
                          your_server:
                            type: string
                          server_location:
                            type: string
                          base_url:
                            type: string
                          token:
                            type: string
                        required:
                        - token
                        additionalProperties:
                          nullable: true
                    required:
                    - authScheme
                    - toolkitSlug
                    - val
                  - type: object
                    properties:
                      authScheme:
                        type: string
                        enum:
                        - OAUTH1
                      toolkitSlug:
                        type: string
                      val:
                        type: object
                        properties:
                          subdomain:
                            type: string
                          your-domain:
                            type: string
                          region:
                            type: string
                          shop:
                            type: string
                          account_url:
                            type: string
                          COMPANYDOMAIN:
                            type: string
                          extension:
                            type: string
                          form_api_base_url:
                            type: string
                          instanceEndpoint:
                            type: string
                          api_url:
                            type: string
                          borneo_dashboard_url:
                            type: string
                          proxy_username:
                            type: string
                          proxy_password:
                            type: string
                          domain:
                            type: string
                          version:
                            type: string
                          dc:
                            type: string
                          site_name:
                            type: string
                          instanceName:
                            type: string
                          account_id:
                            type: string
                          your_server:
                            type: string
                          server_location:
                            type: string
                          base_url:
                            type: string
                          oauth_token:
                            type: string
                          oauth_token_secret:
                            type: string
                          oauth_verifier:
                            type: string
                          consumer_key:
                            type: string
                          redirectUrl:
                            type: string
                          callback_url:
                            type: string
                        required:
                        - oauth_token
                        - oauth_token_secret
                        additionalProperties:
                          nullable: true
                    required:
                    - authScheme
                    - toolkitSlug
                    - val
                  - type: object
                    properties:
                      authScheme:
                        type: string
                        enum:
                        - NO_AUTH
                      toolkitSlug:
                        type: string
                      val:
                        type: object
                        properties:
                          subdomain:
                            type: string
                          your-domain:
                            type: string
                          region:
                            type: string
                          shop:
                            type: string
                          account_url:
                            type: string
                          COMPANYDOMAIN:
                            type: string
                          extension:
                            type: string
                          form_api_base_url:
                            type: string
                          instanceEndpoint:
                            type: string
                          api_url:
                            type: string
                          borneo_dashboard_url:
                            type: string
                          proxy_username:
                            type: string
                          proxy_password:
                            type: string
                          domain:
                            type: string
                          version:
                            type: string
                          dc:
                            type: string
                          site_name:
                            type: string
                          instanceName:
                            type: string
                          account_id:
                            type: string
                          your_server:
                            type: string
                          server_location:
                            type: string
                          base_url:
                            type: string
                        additionalProperties:
                          nullable: true
                    required:
                    - authScheme
                    - toolkitSlug
                    - val
                  - type: object
                    properties:
                      authScheme:
                        type: string
                        enum:
                        - SERVICE_ACCOUNT
                      toolkitSlug:
                        type: string
                      val:
                        type: object
                        properties:
                          subdomain:
                            type: string
                          your-domain:
                            type: string
                          region:
                            type: string
                          shop:
                            type: string
                          account_url:
                            type: string
                          COMPANYDOMAIN:
                            type: string
                          extension:
                            type: string
                          form_api_base_url:
                            type: string
                          instanceEndpoint:
                            type: string
                          api_url:
                            type: string
                          borneo_dashboard_url:
                            type: string
                          proxy_username:
                            type: string
                          proxy_password:
                            type: string
                          domain:
                            type: string
                          version:
                            type: string
                          dc:
                            type: string
                          site_name:
                            type: string
                          instanceName:
                            type: string
                          account_id:
                            type: string
                          your_server:
                            type: string
                          server_location:
                            type: string
                          base_url:
                            type: string
                          application_id:
                            type: string
                          installation_id:
                            type: string
                          private_key:
                            type: string
                        required:
                        - application_id
                        - installation_id
                        - private_key
                        additionalProperties:
                          nullable: true
                    required:
                    - authScheme
                    - toolkitSlug
                    - val
                  - type: object
                    properties:
                      authScheme:
                        type: string
                        enum:
                        - GOOGLE_SERVICE_ACCOUNT
                      toolkitSlug:
                        type: string
                      val:
                        type: object
                        properties:
                          subdomain:
                            type: string
                          your-domain:
                            type: string
                          region:
                            type: string
                          shop:
                            type: string
                          account_url:
                            type: string
                          COMPANYDOMAIN:
                            type: string
                          extension:
                            type: string
                          form_api_base_url:
                            type: string
                          instanceEndpoint:
                            type: string
                          api_url:
                            type: string
                          borneo_dashboard_url:
                            type: string
                          proxy_username:
                            type: string
                          proxy_password:
                            type: string
                          domain:
                            type: string
                          version:
                            type: string
                          dc:
                            type: string
                          site_name:
                            type: string
                          instanceName:
                            type: string
                          account_id:
                            type: string
                          your_server:
                            type: string
                          server_location:
                            type: string
                          base_url:
                            type: string
                          credentials_json:
                            type: string
                        required:
                        - credentials_json
                        additionalProperties:
                          nullable: true
                    required:
                    - authScheme
                    - toolkitSlug
                    - val
                  - type: object
                    properties:
                      authScheme:
                        type: string
                        enum:
                        - S2S_OAUTH2
                      toolkitSlug:
                        type: string
                      val:
                        type: object
                        properties:
                          subdomain:
                            type: string
                          your-domain:
                            type: string
                          region:
                            type: string
                          shop:
                            type: string
                          account_url:
                            type: string
                          COMPANYDOMAIN:
                            type: string
                          extension:
                            type: string
                          form_api_base_url:
                            type: string
                          instanceEndpoint:
                            type: string
                          api_url:
                            type: string
                          borneo_dashboard_url:
                            type: string
                          proxy_username:
                            type: string
                          proxy_password:
                            type: string
                          domain:
                            type: string
                          version:
                            type: string
                          dc:
                            type: string
                          site_name:
                            type: string
                          instanceName:
                            type: string
                          account_id:
                            type: string
                          your_server:
                            type: string
                          server_location:
                            type: string
                          base_url:
                            type: string
                          access_token:
                            type: string
                          token_type:
                            type: string
                          client_id:
                            type: string
                          client_secret:
                            type: string
                          expires_in:
                            anyOf:
                            - type: number
                            - type: string
                            - nullable: true
                          expires_at:
                            type: string
                          scope:
                            anyOf:
                            - type: string
                            - type: array
                              items:
                                type: string
                            - nullable: true
                        required:
                        - access_token
                        - client_id
                        - client_secret
                        additionalProperties:
                          nullable: true
                    required:
                    - authScheme
                    - toolkitSlug
                    - val
                  deprecated: true
              required:
              - endpoint
              - method
      responses:
        '200':
          description: Successfully executed proxy request and received response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    nullable: true
                    description: The response data returned from the proxied API
                    example:
                      id: '123'
                      name: Resource Name
                      created_at: '2023-01-01T00:00:00Z'
                  binary_data:
                    type: object
                    properties:
                      url:
                        type: string
                        description: URL to download binary content
                      content_type:
                        type: string
                        description: Content-Type of the binary data
                      size:
                        type: number
                        description: File size in bytes
                      expires_at:
                        type: string
                        description: ISO 8601 timestamp when the URL expires
                    required:
                    - url
                    - content_type
                    - size
                    description: Binary body response data. Present when the response is a binary file.
                  status:
                    type: number
                    description: The HTTP status code returned from the proxied API
                    example: 200
                  headers:
                    type: object
                    additionalProperties:
                      type: string
                    description: The HTTP headers returned from the proxied API
                    example:
                      content-type: application/json
                      cache-control: no-cache
                      host: api.example.com
                required:
                - status
        '400':
          description: Bad request - Invalid request parameters or body format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - Authentication credentials are missing or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - Connected account does not have permission to access the requested resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found - Resource not found or connected account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable entity - Invalid state of the connected account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - Rate limit exceeded on the connected account or proxy service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error - Something went wrong on the server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: Not implemented - This operation is not supported for the requested connected account or authentication scheme
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '502':
          description: Bad gateway - Error communicating with the upstream API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '504':
          description: Gateway timeout - Upstream API timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /tools:
    get:
      operationId: listTools
      summary: Composio List available tools
      description: Returns a list of available tools, optionally filtered by toolkit or search query.
      tags:
      - Tools
      parameters:
      - name: toolkit
        in: query
        schema:
          type: string
        description: Filter tools by toolkit name.
      - name: search
        in: query
        schema:
          type: string
        description: Search query to filter tools.
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
        description: Maximum number of tools to return.
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
        description: Offset for pagination.
      responses:
        '200':
          description: List of tools
          content:
            application/json:
              schema:
[...]
