openapi: 3.0.0
info:
  version: 3.0.0
  title: Composio Platform Account Management Organization API
  description: Organization management
  contact:
    name: Composio Support
    url: https://composio.dev/support
    email: support@composio.dev
  license:
    name: Proprietary
    url: https://composio.dev/terms
servers:
- url: https://backend.composio.dev
  description: PRODUCTION API
tags:
- name: Organization
  description: Organization management
paths:
  /api/v3/org/owner/project/new:
    post:
      summary: Create a new project
      description: Creates a new project within the authenticated user's organization using the specified name. Projects are isolated environments within your organization, each with their own API keys, webhook configurations, and resources. Use this endpoint to create additional projects for different environments (e.g., development, staging, production) or for separate applications.
      tags:
      - Organization
      operationId: postOrgOwnerProjectNew
      security:
      - OrgApiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 3
                  maxLength: 75
                  pattern: ^[a-zA-Z0-9_-]+$
                  description: A unique name for your project that follows the required format rules
                  example: my-awesome-project
                should_create_api_key:
                  type: boolean
                  default: false
                  description: Whether to create an API key for the project. If true, the API key will be created and returned in the response.
                  example: false
                config:
                  type: object
                  properties:
                    is_2FA_enabled:
                      type: boolean
                    logo_url:
                      type: string
                    display_name:
                      type: string
                    mask_secret_keys_in_connected_account:
                      type: boolean
                    log_visibility_setting:
                      type: string
                      enum:
                      - show_all
                      - dont_store_data
                    require_mcp_api_key:
                      type: boolean
                    is_composio_link_enabled_for_managed_auth:
                      type: boolean
                      description: Whether to enable composio link for managed authentication. This key will be deprecated in the future. Please don't use this key.
                    signed_url_file_expiry_in_seconds:
                      type: number
                      minimum: 1
                      maximum: 86400
                  required:
                  - is_2FA_enabled
                  - mask_secret_keys_in_connected_account
                  - log_visibility_setting
                  description: Configuration for the project
              required:
              - name
            examples:
              Simple project:
                value:
                  name: my_production_api
      responses:
        '200':
          description: Project successfully created. Returns the complete project object with generated IDs, webhook secrets, and configuration.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: projectId
                    description: Unique identifier for the project
                    example: pr_1a2b3c4d5e6f
                  name:
                    type: string
                    description: Name of the project
                    example: My Awesome Project
                  api_key:
                    type: string
                    nullable: true
                    description: API key for the project
                    example: ak_a1b2c3d4e5f6g7h8i9j0
                required:
                - id
                - api_key
        '400':
          description: Bad request. This may occur if the project name format is invalid, too short, or contains invalid characters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized. Authentication is required or the provided credentials are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error. An unexpected error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
            code:
              type: number
            slug:
              type: string
            status:
              type: number
            request_id:
              type: string
            suggested_fix:
              type: string
            errors:
              type: array
              items:
                type: string
          required:
          - message
          - code
          - slug
          - status
      required:
      - error
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Project API key authentication
    UserApiKeyAuth:
      type: apiKey
      in: header
      name: x-user-api-key
      description: User API key authentication
    CookieAuth:
      type: apiKey
      in: cookie
      name: authToken
      description: Cookie-based session authentication
    OrgApiKeyAuth:
      type: apiKey
      in: header
      name: x-org-api-key
      description: Organization API key authentication
