openapi: 3.0.0
info:
  version: 3.0.0
  title: Composio Platform Account Management MCP API
  description: MCP server management
  contact:
    name: Composio Support
    url: https://composio.dev/support
    email: support@composio.dev
  license:
    name: Proprietary
    url: https://composio.dev/terms
servers:
- url: https://backend.composio.dev
  description: PRODUCTION API
tags:
- name: MCP
  description: MCP server management
paths:
  /api/v3/mcp/servers:
    get:
      summary: List MCP servers with optional filters and pagination
      description: Retrieves a paginated list of MCP servers associated with the authenticated project. Results can be filtered by name, toolkit, or authentication configuration ID. MCP servers are used to provide Model Control Protocol integration points for connecting AI assistants to your applications and services.
      tags:
      - MCP
      operationId: getMcpServers
      security:
      - ApiKeyAuth: []
      - UserApiKeyAuth: []
      - CookieAuth: []
      parameters:
      - schema:
          type: string
          description: Name substring to filter servers by
          example: github
        required: false
        description: Filter MCP servers by name (case-insensitive partial match)
        name: name
        in: query
      - schema:
          type: string
        required: false
        description: Comma-separated list of toolkit slugs to filter servers by
        in: query
        name: toolkits
      - schema:
          type: string
        required: false
        description: Comma-separated list of auth config IDs to filter servers by
        in: query
        name: auth_config_ids
      - schema:
          type: string
          enum:
          - created_at
          - updated_at
          default: updated_at
          description: Field to use for ordering the results
          example: updated_at
        required: false
        description: Field to order results by
        name: order_by
        in: query
      - schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
          description: Sort direction (ascending or descending)
          example: desc
        required: false
        description: Direction of ordering
        name: order_direction
        in: query
      - schema:
          type: number
          nullable: true
          default: 1
          description: Page number to retrieve
          example: 1
        required: false
        description: Page number for pagination (1-based)
        name: page_no
        in: query
      - schema:
          type: number
          nullable: true
          default: 10
          description: Number of servers to return per page
          example: 10
        required: false
        description: 'Number of items per page (default: 10)'
        name: limit
        in: query
      responses:
        '200':
          description: Successfully retrieved MCP servers. Returns a paginated list of server configurations including connection details and command instructions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: UUID of the MCP server instance
                          example: 550e8400-e29b-41d4-a716-446655440000
                        name:
                          type: string
                          description: User-defined descriptive name for this MCP server
                          example: GitHub Integration Server
                        auth_config_ids:
                          type: array
                          items:
                            type: string
                          description: ID references to the auth configurations used by this server
                          example:
                          - ac_1a2b3c4d5e6f
                          - ac_7g8h9i0j1k2l
                        allowed_tools:
                          type: array
                          items:
                            type: string
                          description: Array of tool slugs that this MCP server is allowed to use
                          example:
                          - GITHUB_CREATE_AN_ISSUE
                          - GITHUB_GET_A_REPOSITORY
                          - GITHUB_LIST_PULL_REQUESTS
                        mcp_url:
                          type: string
                          description: '[DEPRECATED] Please use the URL with user_id or connected_account_id query param'
                          deprecated: true
                          example: https://backend.composio.dev/v3/mcp/550e8400-e29b-41d4-a716-446655440000?user_id=john
                        toolkits:
                          type: array
                          items:
                            type: string
                          description: Array of toolkit slugs that this MCP server is allowed to use
                          example:
                          - github
                          - jira
                          - slack
                        toolkit_icons:
                          type: object
                          additionalProperties:
                            type: string
                          description: Object mapping each toolkit slug to its icon/logo URL for display purposes
                          example:
                            github: https://assets.composio.dev/logos/github.png
                            jira: https://assets.composio.dev/logos/jira.png
                            slack: https://assets.composio.dev/logos/slack.png
                        commands:
                          type: object
                          properties:
                            cursor:
                              type: string
                              description: Command line instruction for Cursor client setup
                              deprecated: true
                              example: npx @composio/mcp@latest setup "https://backend.composio.dev/v3/mcp/550e8400-e29b-41d4-a716-446655440000?user_id=john" --client cursor
                            claude:
                              type: string
                              description: Command line instruction for Claude client setup
                              deprecated: true
                              example: npx @composio/mcp@latest setup "https://backend.composio.dev/v3/mcp/550e8400-e29b-41d4-a716-446655440000?user_id=john" --client claude
                            windsurf:
                              type: string
                              description: Command line instruction for Windsurf client setup
                              deprecated: true
                              example: npx @composio/mcp@latest setup "https://backend.composio.dev/v3/mcp/550e8400-e29b-41d4-a716-446655440000?user_id=john" --client windsurf
                          required:
                          - cursor
                          - claude
                          - windsurf
                          description: Set of command line instructions for connecting various clients to this MCP server
                          deprecated: true
                        updated_at:
                          type: string
                          description: Date and time when this server configuration was last modified
                          example: '2023-06-15T14:30:00.000Z'
                        created_at:
                          type: string
                          description: Date and time when this server was initially created
                          example: '2023-06-10T09:15:00.000Z'
                        server_instance_count:
                          type: number
                          description: Total count of active user instances connected to this server
                          example: 5
                        managed_auth_via_composio:
                          type: boolean
                          description: Whether the MCP server is managed by Composio
                          example: true
                      required:
                      - id
                      - name
                      - auth_config_ids
                      - allowed_tools
                      - mcp_url
                      - toolkits
                      - toolkit_icons
                      - commands
                      - updated_at
                      - created_at
                      - server_instance_count
                      - managed_auth_via_composio
                      description: MCP server configuration and connection details
                    description: Array of MCP server configurations
                    example:
                    - id: 550e8400-e29b-41d4-a716-446655440000
                      name: GitHub Integration Server
                      auth_config_ids:
                      - ac_1a2b3c4d5e6f
                      - ac_7g8h9i0j1k2l
                      allowed_tools:
                      - GITHUB_CREATE_AN_ISSUE
                      - GITHUB_GET_A_REPOSITORY
                      mcp_url: https://backend.composio.dev/v3/mcp/550e8400-e29b-41d4-a716-446655440000?user_id=john
                      commands:
                        cursor: npx @composio/mcp@latest setup "https://backend.composio.dev/v3/mcp/550e8400-e29b-41d4-a716-446655440000?user_id=john" --client cursor
                        claude: npx @composio/mcp@latest setup "https://backend.composio.dev/v3/mcp/550e8400-e29b-41d4-a716-446655440000?user_id=john" --client claude
                        windsurf: npx @composio/mcp@latest setup "https://backend.composio.dev/v3/mcp/550e8400-e29b-41d4-a716-446655440000?user_id=john" --client windsurf
                      toolkits:
                      - github
                      - jira
                      - slack
                      toolkit_icons:
                        github: https://assets.composio.dev/logos/github.png
                        jira: https://assets.composio.dev/logos/jira.png
                        slack: https://assets.composio.dev/logos/slack.png
                      updated_at: '2023-06-15T14:30:00.000Z'
                      created_at: '2023-06-10T09:15:00.000Z'
                      server_instance_count: 5
                      managed_auth_via_composio: true
                  total_pages:
                    type: number
                    description: Total number of pages in the paginated response
                    example: 5
                  current_page:
                    type: number
                    description: Current page number being returned
                    example: 1
                required:
                - items
                - total_pages
                - current_page
                description: Paginated response containing MCP servers
        '400':
          description: Bad request. The query parameters may be invalid or in an incorrect format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized. Authentication is required or the provided credentials are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden. The authenticated user does not have permission to view MCP servers for this project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error. An unexpected error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new MCP server
      description: Creates a new Model Control Protocol (MCP) server instance for the authenticated project. An MCP server provides a connection point for AI assistants to access your applications and services. The server is configured with specific authentication and tool permissions that determine what actions the connected assistants can perform.
      tags:
      - MCP
      operationId: postMcpServers
      security:
      - ApiKeyAuth: []
      - UserApiKeyAuth: []
      - CookieAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 4
                  maxLength: 30
                  pattern: ^[a-zA-Z0-9- ]+$
                  description: Human-readable name to identify this MCP server instance (4-30 characters, alphanumeric, spaces, and hyphens only)
                  example: Production GitHub Integration
                auth_config_ids:
                  type: array
                  items:
                    type: string
                  description: ID references to existing authentication configurations
                  example:
                  - ac_1a2b3c4d5e6f
                  - ac_7g8h9i0j1k2l
                no_auth_apps:
                  type: array
                  items:
                    type: string
                  description: List of NO_AUTH apps to enable for this MCP server
                  example:
                  - exa
                  - codeinterpreter
                  - composio
                  - composio_search
                allowed_tools:
                  type: array
                  items:
                    type: string
                  default: []
                  description: List of tool slugs that should be allowed for this server. If not provided, all available tools for the authentication configuration will be enabled.
                  example:
                  - GITHUB_CREATE_AN_ISSUE
                  - GITHUB_GET_A_REPOSITORY
                  - GITHUB_LIST_PULL_REQUESTS
                managed_auth_via_composio:
                  type: boolean
                  description: Whether the MCP server is managed by Composio
              required:
              - name
              - auth_config_ids
              description: Request parameters for creating a new MCP server with specific authentication configuration
            examples:
              Basic MCP Server:
                value:
                  name: GitHub Integration Server
                  auth_config_ids:
                  - ac_1a2b3c4d5e6f
              Server with Limited Tools:
                value:
                  name: GitHub Issues Only
                  auth_config_ids:
                  - ac_1a2b3c4d5e6f
                  allowed_tools:
                  - GMAIL_ADD_LABEL_TO_EMAIL
              Server with Expiration:
                value:
                  name: Temporary Integration Server
                  auth_config_ids:
                  - ac_1a2b3c4d5e6f
      responses:
        '201':
          description: MCP server created successfully. Returns the complete server configuration including connection details and command instructions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: UUID of the MCP server instance
                    example: 550e8400-e29b-41d4-a716-446655440000
                  name:
                    type: string
                    description: User-defined descriptive name for this MCP server
                    example: GitHub Integration Server
                  auth_config_ids:
                    type: array
                    items:
                      type: string
                    description: ID references to the auth configurations used by this server
                    example:
                    - ac_1a2b3c4d5e6f
                    - ac_7g8h9i0j1k2l
                  allowed_tools:
                    type: array
                    items:
                      type: string
                    description: Array of tool slugs that this MCP server is allowed to use
                    example:
                    - GITHUB_CREATE_AN_ISSUE
                    - GITHUB_GET_A_REPOSITORY
                    - GITHUB_LIST_PULL_REQUESTS
                  mcp_url:
                    type: string
                    description: '[DEPRECATED] Please use the URL with user_id or connected_account_id query param'
                    deprecated: true
                    example: https://backend.composio.dev/v3/mcp/550e8400-e29b-41d4-a716-446655440000?user_id=john
                  toolkits:
                    type: array
                    items:
                      type: string
                    description: Array of toolkit slugs that this MCP server is allowed to use
                    example:
                    - github
                    - jira
                    - slack
                  toolkit_icons:
                    type: object
                    additionalProperties:
                      type: string
                    description: Object mapping each toolkit slug to its icon/logo URL for display purposes
                    example:
                      github: https://assets.composio.dev/logos/github.png
                      jira: https://assets.composio.dev/logos/jira.png
                      slack: https://assets.composio.dev/logos/slack.png
                  commands:
                    type: object
                    properties:
                      cursor:
                        type: string
                        description: Command line instruction for Cursor client setup
                        deprecated: true
                        example: npx @composio/mcp@latest setup "https://backend.composio.dev/v3/mcp/550e8400-e29b-41d4-a716-446655440000?user_id=john" --client cursor
                      claude:
                        type: string
                        description: Command line instruction for Claude client setup
                        deprecated: true
                        example: npx @composio/mcp@latest setup "https://backend.composio.dev/v3/mcp/550e8400-e29b-41d4-a716-446655440000?user_id=john" --client claude
                      windsurf:
                        type: string
                        description: Command line instruction for Windsurf client setup
                        deprecated: true
                        example: npx @composio/mcp@latest setup "https://backend.composio.dev/v3/mcp/550e8400-e29b-41d4-a716-446655440000?user_id=john" --client windsurf
                    required:
                    - cursor
                    - claude
                    - windsurf
                    description: Set of command line instructions for connecting various clients to this MCP server
                    deprecated: true
                  updated_at:
                    type: string
                    description: Date and time when this server configuration was last modified
                    example: '2023-06-15T14:30:00.000Z'
                  created_at:
                    type: string
                    description: Date and time when this server was initially created
                    example: '2023-06-10T09:15:00.000Z'
                  server_instance_count:
                    type: number
                    description: Total count of active user instances connected to this server
                    example: 5
                  managed_auth_via_composio:
                    type: boolean
                    description: Whether the MCP server is managed by Composio
                    example: true
                required:
                - id
                - name
                - auth_config_ids
                - allowed_tools
                - mcp_url
                - toolkits
                - toolkit_icons
                - commands
                - updated_at
                - created_at
                - server_instance_count
                - managed_auth_via_composio
                description: MCP server configuration and connection details
        '400':
          description: Bad request. The request body may be invalid, missing required parameters, or the auth_config_id may not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized. Authentication is required or the provided credentials are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden. The authenticated user does not have permission to create MCP servers for this project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found. The specified auth_config_id does not exist or is not accessible to the authenticated user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error. An unexpected error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v3/mcp/servers/custom:
    post:
      summary: Create a new custom MCP server with multiple apps
      description: Creates a new Model Control Protocol (MCP) server instance that can integrate with multiple applications or toolkits simultaneously. This endpoint allows you to create a server that can access tools from different applications, making it suitable for complex workflows that span multiple services.
      tags:
      - MCP
      operationId: postMcpServersCustom
      security:
      - ApiKeyAuth: []
      - UserApiKeyAuth: []
      - CookieAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 4
                  maxLength: 30
                  pattern: ^[a-zA-Z0-9- ]+$
                  description: Human-readable name to identify this custom MCP server (4-30 characters, alphanumeric, spaces, and hyphens only)
                  example: Multi App Integration Server
                auth_config_ids:
                  type: array
                  items:
                    type: string
                  description: ID references to existing authentication configurations
                  example:
                  - ac_1a2b3c4d5e6f
                  - ac_7g8h9i0j1k2l
                toolkits:
                  type: array
                  items:
                    type: string
                  description: List of application/toolkit identifiers to enable for this server
                  example:
                  - github
                  - jira
                  - slack
                allowed_tools:
                  type: array
                  items:
                    type: string
                  description: Tool identifiers to enable that aren't part of standard toolkits
                  example:
                  - GITHUB_CREATE_AN_ISSUE
                  - SLACK_SEND_MESSAGE
                custom_tools:
                  type: array
                  items:
                    type: string
                  description: 'DEPRECATED: Use allowed_tools instead. Tool identifiers to enable that aren''t part of standard toolkits'
                  example:
                  - GITHUB_CREATE_AN_ISSUE
                  - SLACK_SEND_MESSAGE
                managed_auth_via_composio:
                  type: boolean
                  description: Whether to manage authentication via Composio
              required:
              - name
              description: Parameters for creating a new custom MCP server with multiple applications
            examples:
              Basic Multi-App Server:
                value:
                  name: Development Integration Server
                  toolkits:
                  - github
                  - jira
              Advanced Multi-App Server:
                value:
                  name: Complete Workflow Integration
                  toolkits:
                  - github
                  - jira
                  - slack
                  custom_tools:
                  - SLACK_SEND_MESSAGE
      responses:
        '201':
          description: Custom MCP server created successfully. Returns the complete server configuration including connection details and command instructions for all specified applications.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique identifier for the newly created custom MCP server
                    example: 550e8400-e29b-41d4-a716-446655440000
                  name:
                    type: string
                    description: Human-readable name of the custom MCP server
                    example: Multi-App Integration Server
                  auth_config_ids:
                    type: array
                    items:
                      type: string
                    description: ID references to the auth configurations used by this server
                    example:
                    - ac_1a2b3c4d5e6f
                    - ac_7g8h9i0j1k2l
                  allowed_tools:
                    type: array
                    items:
                      type: string
                    description: List of tool identifiers that are enabled for this server
                    example:
                    - GITHUB_CREATE_AN_ISSUE
                    - JIRA_GET_ISSUE
                    - SLACK_SEND_MESSAGE
                    - GMAIL_SEND_EMAIL
                  mcp_url:
                    type: string
                    description: URL endpoint for establishing connection to this MCP server
                    example: https://backend.composio.dev/v3/mcp/550e8410-e29b-41d4-a716-446655440000?user_id=john
                  commands:
                    type: object
                    properties:
                      cursor:
                        type: string
                        description: Command line instruction for Cursor client setup
                        example: npx @composio/mcp@latest setup "https://backend.composio.dev/v3/mcp/550e8410-e29b-41d4-a716-446655440000?user_id=john" --client cursor
                      claude:
                        type: string
                        description: Command line instruction for Claude client setup
                        example: npx @composio/mcp@latest setup "https://backend.composio.dev/v3/mcp/550e8410-e29b-41d4-a716-446655440000?user_id=john" --client claude
                      windsurf:
                        type: string
                        description: Command line instruction for Windsurf client setup
                        example: npx @composio/mcp@latest setup "https://backend.composio.dev/v3/mcp/550e8410-e29b-41d4-a716-446655440000?user_id=john" --client windsurf
                    required:
                    - cursor
                    - claude
                    - windsurf
                    description: Set of command line instructions for connecting various clients to this MCP server
                required:
                - id
                - name
                - auth_config_ids
                - allowed_tools
                - mcp_url
                - commands
                description: Response for a successfully created custom MCP server with multiple applications
        '400':
          description: Bad request. The request body may be invalid, missing required parameters, or contain invalid toolkit identifiers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized. Authentication is required or the provided credentials are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden. The authenticated user does not have permission to create MCP servers for this project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error. An unexpected error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v3/mcp/servers/generate:
    post:
      summary: Generate MCP URL with custom parameters
      description: Generates a Model Control Protocol (MCP) URL for an existing server with custom query parameters. The URL includes user-specific parameters and configuration flags that control the behavior of the MCP connection.
      tags:
      - MCP
      operationId: postMcpServersGenerate
      security:
      - ApiKeyAuth: []
      - UserApiKeyAuth: []
      - CookieAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                mcp_server_id:
                  type: string
                  description: Unique identifier of the MCP server to generate URL for
                  example: 550e8400-e29b-41d4-a716-446655440000
                managed_auth_by_composio:
                  type: boolean
                  default: false
                  description: Flag indicating if Composio manages authentication
                  example: true
                user_ids:
                  type: array
                  items:
                    type: string
                  description: List of user identifiers for whom the URL is generated
                  example:
                  - user_123456
                  - user_789012
                connected_account_ids:
                  type: array
                  items:
                    type: string
                  description: List of connected account identifiers
                  example:
                  - ca_1a2b3c4d5e6f
                  - ca_7g8h9i0j1k2l
                  - ca_3m4n5o6p7q8r
              required:
              - mcp_server_id
              description: Request parameters for generating an MCP URL
            examples:
              Basic URL Generation:
                value:
                  mcp_server_id: 550e8400-e29b-41d4-a716-446655440000
                  user_ids:
                  - user_123456
                  connected_account_ids:
                  - ca_1a2b3c4d5e6f
                  - ca_7g8h9i0j1k2l
              Managed Auth Configuration:
                value:
                  mcp_server_id: 550e8400-e29b-41d4-a716-446655440000
                  user_ids:
                  - user_123456
                  - user_789012
                  connected_account_ids:
                  - ca_1a2b3c4d5e6f
                  - ca_7g8h9i0j1k2l
                  - ca_3m4n5o6p7q8r
      responses:
        '200':
          description: Successfully generated MCP URL. Returns the complete URL with all specified query parameters.
          content:
            application/json:
              schema:
                type: object
                properties:
                  mcp_url:
                    type: string
                    description: Base MCP URL without any query parameters
                    example: https://mcp.composio.dev/composio/server/550e8400-e29b-41d4-a716-446655440000
                  connected_account_urls:
                    type: array
                    items:
                      type: string
                    description: List of URLs generated for each connected account ID
                    example:
                    - https://mcp.composio.dev/composio/server/550e8400-e29b-41d4-a716-446655440000?include_composio_helper_actions=true&connected_account_ids=ca_1a2b3c4d5e6f&user_id=user_123456,user_789012
                    - https://mcp.composio.dev/composio/server/550e8400-e29b-41d4-a716-446655440000?include_composio_helper_actions=true&connected_account_ids=ca_7g8h9i0j1k2l&user_id=user_123456,user_789012
                  user_ids_url:
                    type: array
                    items:
                      type: string
                    description: List of URLs generated for each user ID
                    example:
                    - https://mcp.composio.dev/composio/server/550e8400-e29b-41d4-a716-446655440000?include_composio_helper_actions=true&connected_account_ids=ca_1a2b3c4d5e6f,ca_7g8h9i0j1k2l&user_id=user_123456
                    - https://mcp.composio.dev/composio/server/550e8400-e29b-41d4-a716-446655440000?include_composio_helper_actions=true&connected_account_ids=ca_1a2b3c4d5e6f,ca_7g8h9i0j1k2l&user_id=user_789012
                required:
                - mcp_url
                - connected_account_urls
                - user_ids_url
                description: Response containing the generated MCP URLs
        '400':
          description: Bad request. The request body may be invalid or missing required parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized. Authentication is required or the provided credentials are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden. The authenticated user does not have permission to access this MCP server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: MCP server not found. No server with the specified ID exists or it has been deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error. An unexpected error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v3/mcp/{id}:
    get:
      summary: Get MCP server details by ID
      description: Retrieves detailed configuration information for a specific Model Control Protocol (MCP) server. The returned data includes connection details, associated applications, enabled tools, and authentication configuration.
      tags:
      - MCP
      operationId: getMcpById
      security:
      - ApiKeyAuth: []
      - UserApiKeyAuth: []
      - CookieAuth: []
      parameters:
      - schema:
          type: string
          description: Unique identifier of the MCP server to retrieve, update, or delete
          example: 550e8400-e29b-41d4-a716-446655440000
        required: true
        description: The ID of the MCP server
        name: id
        in: path
      responses:
        '200':
          description: Successfully retrieved MCP server. Returns the complete server configuration including connection details, authentication settings, and available tools.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: UUID of the MCP server instance
                    example: 550e8400-e29b-41d4-a716-446655440000
                  name:
                    type: string
                    description: User-defined descriptive name for this MCP server
                    example: GitHub Integration Server
                  auth_config_ids:
                    type: array
                    items:
                      type: string
                    description: ID references to the auth configurations used by this server
                    example:
                    - ac_1a2b3c4d5e6f
                    - ac_7g8h9i0j1k2l
                  allowed_tools:
                    type: array
                    items:
                      type: string
                    description: Array of tool slugs that this MCP server is allowed to use
                    example:
                    - GITHUB_CREATE_AN_ISSUE
                    - GITHUB_GET_A_REPOSITORY
                    - GITHUB_LIST_PULL_REQUESTS
                  mcp_url:
                    type: string
                    description: '[DEPRECATED] Please use the URL with user_id or connected_account_id query param'
                    deprecated: true
                    example: https://backend.composio.dev/v3/mcp/550e8400-e29b-41d4-a716-446655440000?user_id=john
                  toolkits:
                    type: array
                    items:
                      type: string
                    description: Array of toolkit slugs that this MCP server is allowed to use
                    example:
                    - github
                    - jira
                    - slack
                  toolkit_icons:
                    type: object
                    additionalProperties:
                      type: string
                    description: Object mapping each toolkit slug to its icon/logo URL for display purposes
                    example:
                      github: https://assets.composio.dev/logos/github.png
                      jira: https://assets.composio.dev/logos/jira.png
                      slack: https://assets.composio.dev/logos/slack.png
                  commands:
                    type: object
                    properties:
                      cursor:
                        type: string
                        description: Command line instruction for Cursor client setup
                        deprecated: true
                        example: npx @composio/mcp@latest setup "https://backend.composio.dev/v3/mcp/550e8400-e29b-41d4-a716-446655440000?user_id=john" --client cursor
                      claude:
                        type: string
                        description: Command line instruction for Claude client setup
                        deprecated: true
                        example: npx @composio/mcp@latest setup "https://backend.composio.dev/v3/mcp/550e8400-e29b-41d4-a716-446655440000?user_id=john" --client claude
                      windsurf:
                        type: string
                        description: Command line instruction for Windsurf client setup
                        deprecated: true
                        example: npx @composio/mcp@latest setup "https://backend.composio.dev/v3/mcp/550e8400-e29b-41d4-a716-446655440000?user_id=john" --client windsurf
                    required:
                    - cursor
                    - claude
                    - windsurf
                    description: Set of command line instructions for connecting various clients to this MCP server
                    deprecated: true
                  updated_at:
                    type: string
                    description: Date and time when this server configuration was last modified
                    example: '2023-06-15T14:30:00.000Z'
                  created_at:
                    type: string
                    description: Date and time when this server was initially created
                    example: '2023-06-10T09:15:00.000Z'
                  server_instance_count:
                    type: number
                    description: Total count of active user instances connected to this server
                    example: 5
                  managed_auth_via_composio:
                    type: boolean
                    description: Whether the MCP server is managed by Composio
                    example: true
                  deleted:
                    type: boolean
                    description: Whether the MCP server is deleted
                required:
                - id
                - name
                - auth_config_ids
                - allowed_tools
                - mcp_url
                - toolkits
                - toolkit_icons
                - commands
                - updated_at
                - created_at
                - server_instance_count
                - managed_auth_via_composio
                - deleted
                description: MCP server configuration and connection details
        '400':
          description: Bad request. The server ID parameter may be invalid or in an incorrect format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized. Authentication is required or the provided credentials are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden. The authenticated user does not have permission to view this MCP server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: MCP server not found. No server with the specified ID exists or it has been deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error. An unexpected error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      summary: Update MCP server configuration
      description: Updates the configuration of an existing Model Control Protocol (MCP) server. You can modify the server name, associated applications, and enabled tools. Only the fields included in the request will be updated.
      tags:
      - MCP
      operationId: patchMcpById
      security:
      - ApiKeyAuth: []
      - UserApiKeyAuth: []
      - CookieAuth: []
      parameters:
      - schema:
          type: string
          description: Unique identifier of the MCP server to retrieve, update, or delete
          example: 550e8400-e29b-41d4-a716-446655440000
        required: true
        description: The ID of the MCP server
        name: id
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Human-readable name to identify this MCP server instance (4-30 characters, alphanumeric, spaces, and hyphens only)
                  example: Production GitHub Integration
                toolkits:
                  type: array
                  items:
                    type: string
                  description: List of toolkit slugs this server should be configured to work with.
                  example:
                  - gmail
                  - notion
                allowed_tools:
                  type: array
                  items:
                    type: string
                  description: List of action identifiers that should be enabled for this server
                  example:
                  - GMAIL_ADD_LABEL_TO_EMAIL
                managed_auth_via_composio:
                  type: boolean
                  description: Whether the MCP server is managed by Composio
                  example: true
                auth_config_ids:
                  type: array
                  items:
                    type: string
                  description: List of auth config IDs to use for this MCP server.
                  example:
                  - ac_1a2b3c4d5e6f
                  - ac_7g8h9i0j1k2l
              description: Parameters for updating an existing MCP server configuration
            examples:
              Update Server Name:
                value:
                  name: Updated GitHub Integration Server
              Update Single Auth Config:
                value:
                  auth_config_ids:
                  - ac_1a2b3c4d5e6f
                  toolkits:
                  - gmail
                  allowed_tools:
                  - GMAIL_ADD_LABEL_TO_EMAIL
              Update Multiple Auth Configs:
                value:
                  auth_config_ids:
                  - ac_1a2b3c4d5e6f
                  - ac_7g8h9i0j1k2l
                  toolkits:
                  - gmail
                  - notion
                  allowed_tools:
                  - GMAIL_ADD_LABEL_TO_EMAIL
                  - NOTION_CREATE_NOTION_PAGE
              Update Toolkits Only:
                value:
                  toolkits:
                  - gmail
                  - notion
              Full Update:
                value:
                  name: Production Multi-App MCP Server
                  auth_config_ids:
                  - ac_1a2b3c4d5e6f
                  - ac_7g8h9i0j1k2l
                  toolkits:
                  - gmail
                  - notion
                  allowed_tools:
                  - GMAIL_ADD_LABEL_TO_EMAIL
                  - NOTION_CREATE_NOTION_PAGE
      responses:
        '200':
          description: Successfully updated MCP server. Returns the complete updated server configuration including connection details, authentication settings, and available tools.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: UUID of the MCP server instance
                    example: 550e8400-e29b-41d4-a716-446655440000
                  name:
                    type: string
                    description: User-defined descriptive name for this MCP server
                    example: GitHub Integration Server
                  auth_config_ids:
                    type: array
                    items:
                      type: string
                    description: ID references to the auth configurations used by this server
                    example:
                    - ac_1a2b3c4d5e6f
                    - ac_7g8h9i0j1k2l
                  allowed_tools:
                    type: array
                    items:
                      type: string
                    description: Array of tool slugs that this MCP server is allowed to use
                    example:
                    - GITHUB_CREATE_AN_ISSUE
                    - GITHUB_GET_A_REPOSITORY
                    - GITHUB_LIST_PULL_REQUESTS
                  mcp_url:
                    type: string
                    description: '[DEPRECATED] Please use the URL with user_id or connected_account_id query param'
                    deprecated: true
                    example: https://backend.composio.dev/v3/mcp/550e8400-e29b-41d4-a716-446655440000?user_id=john
                  toolkits:
                    type: array
                    items:
                      type: string
                    description: Array of toolkit slugs that this MCP server is allowed to use
                    example:
                    - github
                    - jira
                    - slack
                  toolkit_icons:
                    type: object
                    additionalProperties:
                      type: string
                    description: Object mapping each toolkit slug to its icon/logo URL for display purposes
                    example:
                      github: https://assets.composio.dev/logos/github.png
                      jira: https://assets.composio.dev/logos/jira.png
                      slack: https://assets.composio.dev/logos/slack.png
                  commands:
                    type: object
                    properties:
                      cursor:
                        type: string
                        description: Command line instruction for Cursor client setup
                        deprecated: true
                        example: npx @composio/mcp@latest setup "https://backend.composio.dev/v3/mcp/550e8400-e29b-41d4-a716-446655440000?user_id=john" --client cursor
                      claude:
                        type: string
                        description: Command line instruction for Claude client setup
                        deprecated: true
                        example: npx @composio/mcp@latest setup "https://backend.composio.dev/v3/mcp/550e8400-e29b-41d4-a716-446655440000?user_id=john" --client claude
                      windsurf:
                        type: string
                        description: Command line instruction for Windsurf client setup
                        deprecated: true
                        example: npx @composio/mcp@latest setup "https://backend.composio.dev/v3/mcp/550e8400-e29b-41d4-a716-446655440000?user_id=john" --client windsurf
                    required:
                    - cursor
                    - claude
                    - windsurf
                    description: Set of command line instructions for connecting various clients to this MCP server
                    deprecated: true
                  updated_at:
                    type: string
                    description: Date and time when this server configuration was last modified
                    example: '2023-06-15T14:30:00.000Z'
                  created_at:
                    type: string
                    description: Date and time when this server was initially created
                    example: '2023-06-10T09:15:00.000Z'
                  server_instance_count:
                    type: number
                    description: Total count of active user instances connected to this server
                    example: 5
                  managed_auth_via_composio:
                    type: boolean
                    description: Whether the MCP server is managed by Composio
                    example: true
                  deleted:
                    type: boolean
                    description: Whether the MCP server is deleted
                required:
                - id
                - name
                - auth_config_ids
                - allowed_tools
                - mcp_url
                - toolkits
                - toolkit_icons
                - commands
                - updated_at
                - created_at
                - server_instance_count
                - managed_auth_via_composio
                - deleted
                description: MCP server configuration and connection details
        '400':
          description: Bad request. The request parameters may be invalid or in an incorrect format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized. Authentication is required or the provided credentials are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden. The authenticated user does not have permission to update this MCP server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: MCP server not found. No server with the specified ID exists or it has been deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error. An unexpected error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete an MCP server
      description: Performs a soft delete on a Model Control Protocol (MCP) server, making it unavailable for future use. This operation is reversible in the database but cannot be undone through the API. Any applications or services connected to this server will lose access after deletion.
      tags:
      - MCP
      operationId: deleteMcpById
      security:
      - ApiKeyAuth: []
      - UserApiKeyAuth: []
      - CookieAuth: []
      parameters:
      - schema:
          type: string
          description: Unique identifier of the MCP server to retrieve, update, or delete
          example: 550e8400-e29b-41d4-a716-446655440000
        required: true
        description: The ID of the MCP server
        name: id
        in: path
      responses:
        '200':
          description: Successfully deleted MCP server. The server has been soft-deleted and is no longer available for use.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique identifier of the MCP server to retrieve, update, or delete
                    example: 550e8400-e29b-41d4-a716-446655440000
                  deleted:
                    type: boolean
                    description: Indicates whether the MCP server was successfully deleted
                    example: true
                required:
                - id
                - deleted
                description: Response indicating the success of the delete operation
        '400':
          description: Bad request. The server ID parameter may be invalid or in an incorrect format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized. Authentication is required or the provided credentials are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden. The authenticated user does not have permission to delete this MCP server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: MCP server not found. No server with the specified ID exists or it has already been deleted.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '500':
          description: Internal server error. An unexpected error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v3/mcp/app/{appKey}:
    get:
      summary: List MCP servers for a specific app
      description: Retrieves a paginated list of Model Control Protocol (MCP) servers that are configured for a specific application or toolkit. This endpoint allows you to find all MCP server instances that have access to a particular application, such as GitHub, Slack, or Jira.
      tags:
      - MCP
      operationId: getMcpAppByAppKey
      security:
      - ApiKeyAuth: []
      - UserApiKeyAuth: []
      - CookieAuth: []
      parameters:
      - schema:
          type: string
          description: Toolkit or application slug identifier to filter MCP servers by
          example: github
        required: true
        description: The key of the app to find MCP servers for
        name: appKey
        in: path
      - schema:
          type: string
          description: Name substring to filter servers by
          example: github
        required: false
        description: Filter MCP servers by name (case-insensitive partial match)
        name: name
        in: query
      - schema:
          type: string
        required: false
        description: Comma-separated list of toolkit slugs to filter servers by
        in: query
        name: toolkits
      - schema:
          type: string
        required: false
        description: Comma-separated list of auth config IDs to filter servers by
        in: query
        name: auth_config_ids
      - schema:
          type: string
          enum:
          - created_at
          - updated_at
          default: updated_at
          description: Field to use for ordering the results
          example: updated_at
        required: false
        description: Field to order results by
        name: order_by
        in: query
      - schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
          description: Sort direction (ascending or descending)
          example: desc
        required: false
        description: Direction of ordering
        name: order_direction
        in: query
      - schema:
          type: number
          nullable: true
          default: 1
          description: Page number to retrieve
          example: 1
        required: false
        description: Page number for pagination (1-based)
        name: page_no
        in: query
      - schema:
          type: number
          nullable: true
          default: 10
          description: Number of servers to return per page
          example: 10
        required: false
        description: 'Number of items per page (default: 10)'
        name: limit
        in: query
      responses:
        '200':
          description: Successfully retrieved MCP servers for the specified application. Returns a paginated list of server configurations including connection details and command instructions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: UUID of the MCP server instance
                          example: 550e8400-e29b-41d4-a716-446655440000
                        name:
                          type: string
                          description: User-defined descriptive name for this MCP server
                          example: GitHub Integration Server
                        auth_config_ids:
                          type: array
                          items:
                            type: string
                          description: ID references to the auth configurations used by this server
                          example:
                          - ac_1a2b3c4d5e6f
                          - ac_7g8h9i0j1k2l
                        allowed_tools:
                          type: array
                          items:
                            type: string
                          description: Array of tool slugs that this MCP server is allowed to use
                          example:
                          - GITHUB_CREATE_AN_ISSUE
                          - GITHUB_GET_A_REPOSITORY
                          - GITHUB_LIST_PULL_REQUESTS
                        mcp_url:
                          type: string
                          description: '[DEPRECATED] Please use the URL with user_id or connected_account_id query param'
                          deprecated: true
                          example: https://backend.composio.dev/v3/mcp/550e8400-e29b-41d4-a716-446655440000?user_id=john
                        toolkits:
                          type: array
                          items:
                            type: string
                          description: Array of toolkit slugs that this MCP server is allowed to use
                          example:
                          - github
                          - jira
                          - slack
                        toolkit_icons:
                          type: object
                          additionalProperties:
                            type: string
                          description: Object mapping each toolkit slug to its icon/logo URL for display purposes
                          example:
                            github: https://assets.composio.dev/logos/github.png
                            jira: https://assets.composio.dev/logos/jira.png
                            slack: https://assets.composio.dev/logos/slack.png
                        commands:
                          type: object
                          properties:
                            cursor:
                              type: string
                              description: Command line instruction for Cursor client setup
                              deprecated: true
                              example: npx @composio/mcp@latest setup "https://backend.composio.dev/v3/mcp/550e8400-e29b-41d4-a716-446655440000?user_id=john" --client cursor
                            claude:
                              type: string
                              description: Command line instruction for Claude client setup
                              deprecated: true
                              example: npx @composio/mcp@latest setup "https://backend.composio.dev/v3/mcp/550e8400-e29b-41d4-a716-446655440000?user_id=john" --client claude
                            windsurf:
                              type: string
                              description: Command line instruction for Windsurf client setup
                              deprecated: true
                              example: npx @composio/mcp@latest setup "https://backend.composio.dev/v3/mcp/550e8400-e29b-41d4-a716-446655440000?user_id=john" --client windsurf
                          required:
                          - cursor
                          - claude
                          - windsurf
                          description: Set of command line instructions for connecting various clients to this MCP server
                          deprecated: true
                        updated_at:
                          type: string
                          description: Date and time when this server configuration was last modified
                          example: '2023-06-15T14:30:00.000Z'
                        created_at:
                          type: string
                          description: Date and time when this server was initially created
                          example: '2023-06-10T09:15:00.000Z'
                        server_instance_count:
                          type: number
                          description: Total count of active user instances connected to this server
                          example: 5
                        managed_auth_via_composio:
                          type: boolean
                          description: Whether the MCP server is managed by Composio
                          example: true
                      required:
                      - id
                      - name
                      - auth_config_ids
                      - allowed_tools
                      - mcp_url
                      - toolkits
                      - toolkit_icons
                      - commands
                      - updated_at
                      - created_at
                      - server_instance_count
                      - managed_auth_via_composio
                      description: MCP server configuration and connection details
                    description: Array of MCP server configurations
                    example:
                    - id: 550e8400-e29b-41d4-a716-446655440000
                      name: GitHub Integration Server
                      auth_config_ids:
                      - ac_1a2b3c4d5e6f
                      - ac_7g8h9i0j1k2l
                      allowed_tools:
                      - GITHUB_CREATE_AN_ISSUE
                      - GITHUB_GET_A_REPOSITORY
                      mcp_url: https://backend.composio.dev/v3/mcp/550e8400-e29b-41d4-a716-446655440000?user_id=john
                      commands:
                        cursor: npx @composio/mcp@latest setup "https://backend.composio.dev/v3/mcp/550e8400-e29b-41d4-a716-446655440000?user_id=john" --client cursor
                        claude: npx @composio/mcp@latest setup "https://backend.composio.dev/v3/mcp/550e8400-e29b-41d4-a716-446655440000?user_id=john" --client claude
                        windsurf: npx @composio/mcp@latest setup "https://backend.composio.dev/v3/mcp/550e8400-e29b-41d4-a716-446655440000?user_id=john" --client windsurf
                      toolkits:
                      - github
                      - jira
                      - slack
                      toolkit_icons:
                        github: https://assets.composio.dev/logos/github.png
                        jira: https://assets.composio.dev/logos/jira.png
                        slack: https://assets.composio.dev/logos/slack.png
                      updated_at: '2023-06-15T14:30:00.000Z'
                      created_at: '2023-06-10T09:15:00.000Z'
                      server_instance_count: 5
                      managed_auth_via_composio: true
                  total_pages:
                    type: number
                    description: Total number of pages in the paginated response
                    example: 5
                  current_page:
                    type: number
                    description: Current page number being returned
                    example: 1
                required:
                - items
                - total_pages
                - current_page
                description: Paginated response containing MCP servers
        '400':
          description: Bad request. The query parameters may be invalid or in an incorrect format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized. Authentication is required or the provided credentials are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden. The authenticated user does not have permission to view MCP servers for this application.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Application not found. No application with the specified key exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error. An unexpected error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v3/mcp/servers/{serverId}/instances:
    get:
      summary: List all instances for an MCP server
      description: Retrieves a paginated list of user instances (user IDs) associated with a specific Model Control Protocol (MCP) server. This endpoint supports pagination to handle servers with many instances.
      tags:
      - MCP
      operationId: getMcpServersByServerIdInstances
      security:
      - ApiKeyAuth: []
      - UserApiKeyAuth: []
      - CookieAuth: []
      parameters:
      - schema:
          type: string
          description: UUID of the MCP server to list instances for
          example: 550e8400-e29b-41d4-a716-446655440000
        required: true
        description: The ID of the MCP server
        name: serverId
        in: path
      - schema:
          type: number
          nullable: true
          default: 1
          description: Page number to retrieve
          example: 1
        required: false
        description: Page number for pagination (1-based)
        name: page_no
        in: query
      - schema:
          type: number
          nullable: true
          default: 20
          description: Number of instances to return per page
          example: 20
        required: false
        description: 'Number of items per page (default: 20)'
        name: limit
        in: query
      - schema:
          type: string
          description: Filter instances by user ID or instance ID (partial match)
          example: user_123
        required: false
        description: Search instances by user ID/instance ID
        name: search
        in: query
      - schema:
          type: string
          enum:
          - created_at
          - updated_at
          default: updated_at
          description: Field to use for ordering the results
          example: updated_at
        required: false
        description: Field to order results by
        name: order_by
        in: query
      - schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
          description: Sort direction (ascending or descending)
          example: desc
        required: false
        description: Direction of ordering
        name: order_direction
        in: query
      responses:
        '200':
          description: Successfully retrieved MCP server instances. Returns the list of user IDs associated with this server.
          content:
            application/json:
              schema:
                type: object
                properties:
                  instances:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: UUID of the instance record
                          example: 550e8400-e29b-41d4-a716-446655440000
                        instance_id:
                          type: string
                          description: The instance identifier (same as the user_id)
                          example: user_123456
                        mcp_server_id:
                          type: string
                          description: UUID of the parent MCP server
                          example: 660e8400-e29b-41d4-a716-446655440001
                        created_at:
                          type: string
                          description: Date and time when this instance was created
                          example: '2023-06-10T09:15:00.000Z'
                        updated_at:
                          type: string
                          description: Date and time when this instance was last modified
                          example: '2023-06-15T14:30:00.000Z'
                      required:
                      - id
                      - instance_id
                      - mcp_server_id
                      - created_at
                      - updated_at
                      description: MCP server instance details
                    description: List of instance objects associated with this MCP server for the current page
                    example:
                    - id: 550e8400-e29b-41d4-a716-446655440000
                      instance_id: user_123456
                      mcp_server_id: 660e8400-e29b-41d4-a716-446655440001
                      created_at: '2023-06-10T09:15:00.000Z'
                      updated_at: '2023-06-15T14:30:00.000Z'
                  server_id:
                    type: string
                    description: UUID of the MCP server
                    example: 550e8400-e29b-41d4-a716-446655440000
                  server_name:
                    type: string
                    description: Name of the MCP server
                    example: Production GitHub Integration
                  total_pages:
                    type: number
                    description: Total number of pages in the paginated response
                    example: 3
                  current_page:
                    type: number
                    description: Current page number being returned
                    example: 1
                required:
                - instances
                - server_id
                - server_name
                - total_pages
                - current_page
                description: Paginated list of instances for an MCP server
        '400':
          description: Bad request. The server ID parameter may be invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized. Authentication is required or the provided credentials are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: MCP server not found. No server with the specified ID exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error. An unexpected error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new MCP server instance
      description: Creates a new instance for a Model Control Protocol (MCP) server. This endpoint validates that the user has connected accounts for all auth configurations associated with the MCP server before creating the instance.
      tags:
      - MCP
      operationId: postMcpServersByServerIdInstances
      security:
      - ApiKeyAuth: []
      - UserApiKeyAuth: []
      - CookieAuth: []
      parameters:
      - schema:
          type: string
          description: UUID of the MCP server to create an instance for
          example: 550e8400-e29b-41d4-a716-446655440000
        required: true
        description: The ID of the MCP server
        name: serverId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  minLength: 1
                  description: The user ID (entity ID) that will be used as both the user identifier and instance ID
                  example: user_123456
              required:
              - user_id
              description: Parameters for creating a new MCP server instance
            examples:
              Create Instance:
                value:
                  user_id: user_123456
      responses:
        '201':
          description: Successfully created MCP server instance. Returns the created instance details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: UUID of the instance record
                    example: 550e8400-e29b-41d4-a716-446655440000
                  instance_id:
                    type: string
                    description: The instance identifier (same as the user_id)
                    example: user_123456
                  mcp_server_id:
                    type: string
                    description: UUID of the parent MCP server
                    example: 660e8400-e29b-41d4-a716-446655440001
                  created_at:
                    type: string
                    description: Date and time when this instance was created
                    example: '2023-06-10T09:15:00.000Z'
                  updated_at:
                    type: string
                    description: Date and time when this instance was last modified
                    example: '2023-06-15T14:30:00.000Z'
                required:
                - id
                - instance_id
                - mcp_server_id
                - created_at
                - updated_at
                description: MCP server instance details
        '400':
          description: Bad request. The request parameters may be invalid or the instance ID already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized. Authentication is required or the provided credentials are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden. The user does not have connected accounts for all required auth configurations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: MCP server not found. No server with the specified ID exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict. An instance with this ID already exists for the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error. An unexpected error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v3/mcp/servers/{serverId}/instances/{instanceId}:
    delete:
      summary: Delete an MCP server instance and associated connected accounts
      description: Removes a user instance from the MCP server and deletes all connected accounts for that user that are associated with the auth configurations of this specific MCP server. Connected accounts for other auth configurations are not affected.
      tags:
      - MCP
      operationId: deleteMcpServersByServerIdInstancesByInstanceId
      security:
      - ApiKeyAuth: []
      - UserApiKeyAuth: []
      - CookieAuth: []
      parameters:
      - schema:
          type: string
          description: UUID of the MCP server
          example: 550e8400-e29b-41d4-a716-446655440000
        required: true
        description: The ID of the MCP server
        name: serverId
        in: path
      - schema:
          type: string
          description: The user ID to remove from this server
          example: user_123456
        required: true
        description: The instance ID (user ID) to delete
        name: instanceId
        in: path
      responses:
        '200':
          description: Successfully deleted MCP server instance and associated connected accounts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  deleted_connected_accounts:
                    type: number
                required:
                - message
                - deleted_connected_accounts
        '400':
          description: Bad request. The request parameters may be invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized. Authentication is required or the provided credentials are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: MCP server or instance not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error. An unexpected error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
            code:
              type: number
            slug:
              type: string
            status:
              type: number
            request_id:
              type: string
            suggested_fix:
              type: string
            errors:
              type: array
              items:
                type: string
          required:
          - message
          - code
          - slug
          - status
      required:
      - error
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Project API key authentication
    UserApiKeyAuth:
      type: apiKey
      in: header
      name: x-user-api-key
      description: User API key authentication
    CookieAuth:
      type: apiKey
      in: cookie
      name: authToken
      description: Cookie-based session authentication
    OrgApiKeyAuth:
      type: apiKey
      in: header
      name: x-org-api-key
      description: Organization API key authentication
