openapi: 3.0.0
info:
  version: 3.0.0
  title: Composio Platform Account Management Proxy API
  description: ''
  contact:
    name: Composio Support
    url: https://composio.dev/support
    email: support@composio.dev
  license:
    name: Proprietary
    url: https://composio.dev/terms
servers:
- url: https://backend.composio.dev
  description: PRODUCTION API
tags:
- name: Proxy
paths:
  /api/v3/tools/execute/proxy:
    post:
      summary: Execute proxy request
      description: Proxy an HTTP request to a third-party API using connected account credentials. This endpoint allows making authenticated API calls to external services while abstracting away authentication details.
      tags:
      - Proxy
      operationId: postToolsExecuteProxy
      security:
      - ApiKeyAuth: []
      - UserApiKeyAuth: []
      - CookieAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                connected_account_id:
                  type: string
                  format: connectedAccountId
                  description: The ID of the connected account to use for authentication (if not provided, will use the default account for the project)
                  example: ca_1a2b3c4d5e6f
                endpoint:
                  type: string
                  description: The API endpoint to call (absolute URL or path relative to base URL of the connected account)
                  example: /api/v1/resources
                method:
                  type: string
                  enum:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                  - PATCH
                  - HEAD
                  description: The HTTP method to use for the request
                  example: GET
                body:
                  nullable: true
                  description: The request body (for POST, PUT, and PATCH requests)
                  example:
                    name: New Resource
                    description: This is a new resource
                binary_body:
                  anyOf:
                  - type: object
                    properties:
                      url:
                        type: string
                        format: uri
                        description: URL to fetch binary content from
                      content_type:
                        type: string
                        description: Content-Type header to use for the request
                    required:
                    - url
                  - type: object
                    properties:
                      base64:
                        type: string
                        minLength: 1
                        description: Base64-encoded binary data
                      content_type:
                        type: string
                        description: Content-Type header to use for the request
                    required:
                    - base64
                  description: 'Binary body to send. For binary upload via URL: use {url: "https://...", content_type?: "..."}. For binary upload via base64: use {base64: "...", content_type?: "..."}.'
                parameters:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: Parameter name
                        example: x-api-key
                      value:
                        type: string
                        description: Parameter value
                        example: abc123def456
                      type:
                        type: string
                        enum:
                        - header
                        - query
                        description: Parameter type (header or query)
                        example: header
                    required:
                    - name
                    - value
                    - type
                  description: Additional HTTP headers or query parameters to include in the request
                  example:
                  - name: x-api-key
                    value: abc123def456
                    type: header
                  - name: filter
                    value: active
                    type: query
                custom_connection_data:
                  oneOf:
                  - type: object
                    properties:
                      authScheme:
                        type: string
                        enum:
                        - OAUTH2
                      toolkitSlug:
                        type: string
                      val:
                        type: object
                        properties:
                          subdomain:
                            type: string
                          your-domain:
                            type: string
                          region:
                            type: string
                          shop:
                            type: string
                          account_url:
                            type: string
                          COMPANYDOMAIN:
                            type: string
                          extension:
                            type: string
                          form_api_base_url:
                            type: string
                          instanceEndpoint:
                            type: string
                          api_url:
                            type: string
                          borneo_dashboard_url:
                            type: string
                          proxy_username:
                            type: string
                          proxy_password:
                            type: string
                          domain:
                            type: string
                          version:
                            type: string
                          dc:
                            type: string
                          site_name:
                            type: string
                          instanceName:
                            type: string
                          account_id:
                            type: string
                          your_server:
                            type: string
                          server_location:
                            type: string
                          base_url:
                            type: string
                          state_prefix:
                            type: string
                            maxLength: 40
                            description: The oauth2 state prefix for the connection
                          long_redirect_url:
                            type: boolean
                            description: Whether to return the redirect url without shortening
                          access_token:
                            type: string
                          id_token:
                            type: string
                          token_type:
                            type: string
                          refresh_token:
                            type: string
                            nullable: true
                          expires_in:
                            anyOf:
                            - type: number
                            - type: string
                            - nullable: true
                          scope:
                            anyOf:
                            - type: string
                            - type: array
                              items:
                                type: string
                            - nullable: true
                          webhook_signature:
                            type: string
                          authed_user:
                            type: object
                            properties:
                              access_token:
                                type: string
                              scope:
                                type: string
                            description: for slack user scopes
                          extra_token_data:
                            type: object
                            additionalProperties:
                              nullable: true
                        required:
                        - access_token
                        additionalProperties:
                          nullable: true
                    required:
                    - authScheme
                    - toolkitSlug
                    - val
                  - type: object
                    properties:
                      authScheme:
                        type: string
                        enum:
                        - DCR_OAUTH
                      toolkitSlug:
                        type: string
                      val:
                        type: object
                        properties:
                          subdomain:
                            type: string
                          your-domain:
                            type: string
                          region:
                            type: string
                          shop:
                            type: string
                          account_url:
                            type: string
                          COMPANYDOMAIN:
                            type: string
                          extension:
                            type: string
                          form_api_base_url:
                            type: string
                          instanceEndpoint:
                            type: string
                          api_url:
                            type: string
                          borneo_dashboard_url:
                            type: string
                          proxy_username:
                            type: string
                          proxy_password:
                            type: string
                          domain:
                            type: string
                          version:
                            type: string
                          dc:
                            type: string
                          site_name:
                            type: string
                          instanceName:
                            type: string
                          account_id:
                            type: string
                          your_server:
                            type: string
                          server_location:
                            type: string
                          base_url:
                            type: string
                          state_prefix:
                            type: string
                            maxLength: 40
                            description: The oauth2 state prefix for the connection
                          long_redirect_url:
                            type: boolean
                            description: Whether to return the redirect url without shortening
                          client_id:
                            type: string
                            description: Dynamically registered client ID
                          client_secret:
                            type: string
                            description: Dynamically registered client secret
                          access_token:
                            type: string
                          id_token:
                            type: string
                          token_type:
                            type: string
                          refresh_token:
                            type: string
                            nullable: true
                          expires_in:
                            anyOf:
                            - type: number
                            - type: string
                            - nullable: true
                          scope:
                            anyOf:
                            - type: string
                            - type: array
                              items:
                                type: string
                            - nullable: true
                          client_id_issued_at:
                            type: number
                          client_secret_expires_at:
                            type: number
                        required:
                        - client_id
                        - access_token
                        additionalProperties:
                          nullable: true
                    required:
                    - authScheme
                    - toolkitSlug
                    - val
                  - type: object
                    properties:
                      authScheme:
                        type: string
                        enum:
                        - API_KEY
                      toolkitSlug:
                        type: string
                      val:
                        type: object
                        properties:
                          subdomain:
                            type: string
                          your-domain:
                            type: string
                          region:
                            type: string
                          shop:
                            type: string
                          account_url:
                            type: string
                          COMPANYDOMAIN:
                            type: string
                          extension:
                            type: string
                          form_api_base_url:
                            type: string
                          instanceEndpoint:
                            type: string
                          api_url:
                            type: string
                          borneo_dashboard_url:
                            type: string
                          proxy_username:
                            type: string
                          proxy_password:
                            type: string
                          domain:
                            type: string
                          version:
                            type: string
                          dc:
                            type: string
                          site_name:
                            type: string
                          instanceName:
                            type: string
                          account_id:
                            type: string
                          your_server:
                            type: string
                          server_location:
                            type: string
                          base_url:
                            type: string
                          generic_api_key:
                            type: string
                          api_key:
                            type: string
                          bearer_token:
                            type: string
                          basic_encoded:
                            type: string
                        additionalProperties:
                          nullable: true
                    required:
                    - authScheme
                    - toolkitSlug
                    - val
                  - type: object
                    properties:
                      authScheme:
                        type: string
                        enum:
                        - BASIC_WITH_JWT
                      toolkitSlug:
                        type: string
                      val:
                        type: object
                        properties:
                          subdomain:
                            type: string
                          your-domain:
                            type: string
                          region:
                            type: string
                          shop:
                            type: string
                          account_url:
                            type: string
                          COMPANYDOMAIN:
                            type: string
                          extension:
                            type: string
                          form_api_base_url:
                            type: string
                          instanceEndpoint:
                            type: string
                          api_url:
                            type: string
                          borneo_dashboard_url:
                            type: string
                          proxy_username:
                            type: string
                          proxy_password:
                            type: string
                          domain:
                            type: string
                          version:
                            type: string
                          dc:
                            type: string
                          site_name:
                            type: string
                          instanceName:
                            type: string
                          account_id:
                            type: string
                          your_server:
                            type: string
                          server_location:
                            type: string
                          base_url:
                            type: string
                          username:
                            type: string
                          password:
                            type: string
                        required:
                        - username
                        - password
                        additionalProperties:
                          nullable: true
                    required:
                    - authScheme
                    - toolkitSlug
                    - val
                  - type: object
                    properties:
                      authScheme:
                        type: string
                        enum:
                        - BASIC
                      toolkitSlug:
                        type: string
                      val:
                        type: object
                        properties:
                          subdomain:
                            type: string
                          your-domain:
                            type: string
                          region:
                            type: string
                          shop:
                            type: string
                          account_url:
                            type: string
                          COMPANYDOMAIN:
                            type: string
                          extension:
                            type: string
                          form_api_base_url:
                            type: string
                          instanceEndpoint:
                            type: string
                          api_url:
                            type: string
                          borneo_dashboard_url:
                            type: string
                          proxy_username:
                            type: string
                          proxy_password:
                            type: string
                          domain:
                            type: string
                          version:
                            type: string
                          dc:
                            type: string
                          site_name:
                            type: string
                          instanceName:
                            type: string
                          account_id:
                            type: string
                          your_server:
                            type: string
                          server_location:
                            type: string
                          base_url:
                            type: string
                          username:
                            type: string
                          password:
                            type: string
                        required:
                        - username
                        additionalProperties:
                          nullable: true
                    required:
                    - authScheme
                    - toolkitSlug
                    - val
                  - type: object
                    properties:
                      authScheme:
                        type: string
                        enum:
                        - BEARER_TOKEN
                      toolkitSlug:
                        type: string
                      val:
                        type: object
                        properties:
                          subdomain:
                            type: string
                          your-domain:
                            type: string
                          region:
                            type: string
                          shop:
                            type: string
                          account_url:
                            type: string
                          COMPANYDOMAIN:
                            type: string
                          extension:
                            type: string
                          form_api_base_url:
                            type: string
                          instanceEndpoint:
                            type: string
                          api_url:
                            type: string
                          borneo_dashboard_url:
                            type: string
                          proxy_username:
                            type: string
                          proxy_password:
                            type: string
                          domain:
                            type: string
                          version:
                            type: string
                          dc:
                            type: string
                          site_name:
                            type: string
                          instanceName:
                            type: string
                          account_id:
                            type: string
                          your_server:
                            type: string
                          server_location:
                            type: string
                          base_url:
                            type: string
                          token:
                            type: string
                        required:
                        - token
                        additionalProperties:
                          nullable: true
                    required:
                    - authScheme
                    - toolkitSlug
                    - val
                  - type: object
                    properties:
                      authScheme:
                        type: string
                        enum:
                        - OAUTH1
                      toolkitSlug:
                        type: string
                      val:
                        type: object
                        properties:
                          subdomain:
                            type: string
                          your-domain:
                            type: string
                          region:
                            type: string
                          shop:
                            type: string
                          account_url:
                            type: string
                          COMPANYDOMAIN:
                            type: string
                          extension:
                            type: string
                          form_api_base_url:
                            type: string
                          instanceEndpoint:
                            type: string
                          api_url:
                            type: string
                          borneo_dashboard_url:
                            type: string
                          proxy_username:
                            type: string
                          proxy_password:
                            type: string
                          domain:
                            type: string
                          version:
                            type: string
                          dc:
                            type: string
                          site_name:
                            type: string
                          instanceName:
                            type: string
                          account_id:
                            type: string
                          your_server:
                            type: string
                          server_location:
                            type: string
                          base_url:
                            type: string
                          oauth_token:
                            type: string
                          oauth_token_secret:
                            type: string
                          oauth_verifier:
                            type: string
                          consumer_key:
                            type: string
                          redirectUrl:
                            type: string
                          callback_url:
                            type: string
                        required:
                        - oauth_token
                        - oauth_token_secret
                        additionalProperties:
                          nullable: true
                    required:
                    - authScheme
                    - toolkitSlug
                    - val
                  - type: object
                    properties:
                      authScheme:
                        type: string
                        enum:
                        - NO_AUTH
                      toolkitSlug:
                        type: string
                      val:
                        type: object
                        properties:
                          subdomain:
                            type: string
                          your-domain:
                            type: string
                          region:
                            type: string
                          shop:
                            type: string
                          account_url:
                            type: string
                          COMPANYDOMAIN:
                            type: string
                          extension:
                            type: string
                          form_api_base_url:
                            type: string
                          instanceEndpoint:
                            type: string
                          api_url:
                            type: string
                          borneo_dashboard_url:
                            type: string
                          proxy_username:
                            type: string
                          proxy_password:
                            type: string
                          domain:
                            type: string
                          version:
                            type: string
                          dc:
                            type: string
                          site_name:
                            type: string
                          instanceName:
                            type: string
                          account_id:
                            type: string
                          your_server:
                            type: string
                          server_location:
                            type: string
                          base_url:
                            type: string
                        additionalProperties:
                          nullable: true
                    required:
                    - authScheme
                    - toolkitSlug
                    - val
                  - type: object
                    properties:
                      authScheme:
                        type: string
                        enum:
                        - SERVICE_ACCOUNT
                      toolkitSlug:
                        type: string
                      val:
                        type: object
                        properties:
                          subdomain:
                            type: string
                          your-domain:
                            type: string
                          region:
                            type: string
                          shop:
                            type: string
                          account_url:
                            type: string
                          COMPANYDOMAIN:
                            type: string
                          extension:
                            type: string
                          form_api_base_url:
                            type: string
                          instanceEndpoint:
                            type: string
                          api_url:
                            type: string
                          borneo_dashboard_url:
                            type: string
                          proxy_username:
                            type: string
                          proxy_password:
                            type: string
                          domain:
                            type: string
                          version:
                            type: string
                          dc:
                            type: string
                          site_name:
                            type: string
                          instanceName:
                            type: string
                          account_id:
                            type: string
                          your_server:
                            type: string
                          server_location:
                            type: string
                          base_url:
                            type: string
                          application_id:
                            type: string
                          installation_id:
                            type: string
                          private_key:
                            type: string
                        required:
                        - application_id
                        - installation_id
                        - private_key
                        additionalProperties:
                          nullable: true
                    required:
                    - authScheme
                    - toolkitSlug
                    - val
                  - type: object
                    properties:
                      authScheme:
                        type: string
                        enum:
                        - GOOGLE_SERVICE_ACCOUNT
                      toolkitSlug:
                        type: string
                      val:
                        type: object
                        properties:
                          subdomain:
                            type: string
                          your-domain:
                            type: string
                          region:
                            type: string
                          shop:
                            type: string
                          account_url:
                            type: string
                          COMPANYDOMAIN:
                            type: string
                          extension:
                            type: string
                          form_api_base_url:
                            type: string
                          instanceEndpoint:
                            type: string
                          api_url:
                            type: string
                          borneo_dashboard_url:
                            type: string
                          proxy_username:
                            type: string
                          proxy_password:
                            type: string
                          domain:
                            type: string
                          version:
                            type: string
                          dc:
                            type: string
                          site_name:
                            type: string
                          instanceName:
                            type: string
                          account_id:
                            type: string
                          your_server:
                            type: string
                          server_location:
                            type: string
                          base_url:
                            type: string
                          credentials_json:
                            type: string
                        required:
                        - credentials_json
                        additionalProperties:
                          nullable: true
                    required:
                    - authScheme
                    - toolkitSlug
                    - val
                  - type: object
                    properties:
                      authScheme:
                        type: string
                        enum:
                        - S2S_OAUTH2
                      toolkitSlug:
                        type: string
                      val:
                        type: object
                        properties:
                          subdomain:
                            type: string
                          your-domain:
                            type: string
                          region:
                            type: string
                          shop:
                            type: string
                          account_url:
                            type: string
                          COMPANYDOMAIN:
                            type: string
                          extension:
                            type: string
                          form_api_base_url:
                            type: string
                          instanceEndpoint:
                            type: string
                          api_url:
                            type: string
                          borneo_dashboard_url:
                            type: string
                          proxy_username:
                            type: string
                          proxy_password:
                            type: string
                          domain:
                            type: string
                          version:
                            type: string
                          dc:
                            type: string
                          site_name:
                            type: string
                          instanceName:
                            type: string
                          account_id:
                            type: string
                          your_server:
                            type: string
                          server_location:
                            type: string
                          base_url:
                            type: string
                          access_token:
                            type: string
                          token_type:
                            type: string
                          client_id:
                            type: string
                          client_secret:
                            type: string
                          expires_in:
                            anyOf:
                            - type: number
                            - type: string
                            - nullable: true
                          expires_at:
                            type: string
                          scope:
                            anyOf:
                            - type: string
                            - type: array
                              items:
                                type: string
                            - nullable: true
                        required:
                        - access_token
                        - client_id
                        - client_secret
                        additionalProperties:
                          nullable: true
                    required:
                    - authScheme
                    - toolkitSlug
                    - val
                  deprecated: true
              required:
              - endpoint
              - method
      responses:
        '200':
          description: Successfully executed proxy request and received response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    nullable: true
                    description: The response data returned from the proxied API
                    example:
                      id: '123'
                      name: Resource Name
                      created_at: '2023-01-01T00:00:00Z'
                  binary_data:
                    type: object
                    properties:
                      url:
                        type: string
                        description: URL to download binary content
                      content_type:
                        type: string
                        description: Content-Type of the binary data
                      size:
                        type: number
                        description: File size in bytes
                      expires_at:
                        type: string
                        description: ISO 8601 timestamp when the URL expires
                    required:
                    - url
                    - content_type
                    - size
                    description: Binary body response data. Present when the response is a binary file.
                  status:
                    type: number
                    description: The HTTP status code returned from the proxied API
                    example: 200
                  headers:
                    type: object
                    additionalProperties:
                      type: string
                    description: The HTTP headers returned from the proxied API
                    example:
                      content-type: application/json
                      cache-control: no-cache
                      host: api.example.com
                required:
                - status
        '400':
          description: Bad request - Invalid request parameters or body format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - Authentication credentials are missing or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - Connected account does not have permission to access the requested resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found - Resource not found or connected account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable entity - Invalid state of the connected account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - Rate limit exceeded on the connected account or proxy service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error - Something went wrong on the server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: Not implemented - This operation is not supported for the requested connected account or authentication scheme
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '502':
          description: Bad gateway - Error communicating with the upstream API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '504':
          description: Gateway timeout - Upstream API timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
            code:
              type: number
            slug:
              type: string
            status:
              type: number
            request_id:
              type: string
            suggested_fix:
              type: string
            errors:
              type: array
              items:
                type: string
          required:
          - message
          - code
          - slug
          - status
      required:
      - error
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Project API key authentication
    UserApiKeyAuth:
      type: apiKey
      in: header
      name: x-user-api-key
      description: User API key authentication
    CookieAuth:
      type: apiKey
      in: cookie
      name: authToken
      description: Cookie-based session authentication
    OrgApiKeyAuth:
      type: apiKey
      in: header
      name: x-org-api-key
      description: Organization API key authentication
