openapi: 3.2.0
info:
  version: 3.0.0
  title: Composio Platform Organization Management API
  description: ''
  contact:
    name: Composio Support
    url: https://composio.dev/support
    email: support@composio.dev
  license:
    name: Proprietary
    url: https://composio.dev/terms
servers:
- url: https://backend.composio.dev
  description: PRODUCTION API
tags:
- name: Organization Management
paths:
  /api/v3/org/consumer/connected_toolkits:
    get:
      summary: List active connected toolkits for a consumer user
      description: Resolves the organization's single CONSUMER project and returns the distinct toolkit slugs for which the specified consumer user has an ACTIVE connection.
      tags:
      - Organization Management
      operationId: getOrgConsumerConnectedToolkits
      security:
      - UserApiKeyAuth: []
      parameters:
      - schema:
          type: string
          minLength: 1
          description: Consumer user ID to inspect within the consumer project.
        required: true
        description: Consumer user ID to inspect within the consumer project.
        name: user_id
        in: query
      - schema:
          type: string
          minLength: 1
          description: User API key used to authenticate the request.
          example: uak_a1b2c3d4e5f6g7h8i9j0
        required: true
        name: x-user-api-key
        in: header
      - schema:
          type: string
          minLength: 1
          description: Organization nano ID that owns the consumer project.
        required: true
        description: Organization nano ID that owns the consumer project.
        name: x-org-id
        in: header
      responses:
        '200':
          description: Active consumer connected toolkits retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  toolkits:
                    type: array
                    items:
                      type: string
                    description: Distinct active toolkit slugs.
                required:
                - toolkits
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found in organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
            code:
              type: number
            slug:
              type: string
            status:
              type: number
            request_id:
              type: string
            suggested_fix:
              type: string
            errors:
              type: array
              items:
                type: string
          required:
          - message
          - code
          - slug
          - status
      required:
      - error
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Project API key authentication
    UserApiKeyAuth:
      type: apiKey
      in: header
      name: x-user-api-key
      description: User API key authentication
    CookieAuth:
      type: apiKey
      in: cookie
      name: authToken
      description: Cookie-based session authentication
    OrgApiKeyAuth:
      type: apiKey
      in: header
      name: x-org-api-key
      description: Organization API key authentication
